In [25]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850

Product=841850

In [26]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
China_17 = pd.read_csv('China Export Data\{}-2017-China.txt'.format(Product),sep='\t')
China_16 = pd.read_csv('China Export Data\{}-2016-China.txt'.format(Product),sep='\t')
China_15 = pd.read_csv('China Export Data\{}-2015-China.txt'.format(Product),sep='\t')
China_14 = pd.read_csv('China Export Data\{}-2014-China.txt'.format(Product),sep='\t')
China_12 = pd.read_csv('China Export Data\{}-2012-China.txt'.format(Product),sep='\t')
China_11 = pd.read_csv('China Export Data\{}-2011-China.txt'.format(Product),sep='\t')
China_09 = pd.read_csv('China Export Data\{}-2009-China.txt'.format(Product),sep='\t')
China_07 = pd.read_csv('China Export Data\{}-2007-China.txt'.format(Product),sep='\t')
China_06 = pd.read_csv('China Export Data\{}-2006-China.txt'.format(Product),sep='\t')

In [27]:
#Butun Importer bilgisine gore birlestirilir.
China_all = China_17.merge(China_16, 
                        on = 'Importers',how = 'left').merge(China_15,
                        on = 'Importers',how = 'left').merge(China_14,
                        on = 'Importers',how = 'left').merge(China_12,
                        on = 'Importers',how = 'left').merge(China_11, 
                        on = 'Importers',how = 'left').merge(China_09,
                        on = 'Importers',how = 'left').merge(China_07, 
                        on = 'Importers',how = 'left').merge(China_06, 
                        on = 'Importers',how = 'left')

In [28]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
China_all['Importers'].unique()

array(['World', 'United States of America', 'Australia', 'Italy',
       'Indonesia', 'United Kingdom', 'France', 'Germany', 'India',
       'Japan', 'Viet Nam', 'Netherlands', 'Philippines', 'Canada',
       'Taipei, Chinese', 'United Arab Emirates', 'Malaysia',
       'Hong Kong, China', 'Spain', 'Denmark', 'Singapore', 'Thailand',
       'Iraq', 'New Zealand', 'Saudi Arabia', 'Poland', 'Brazil',
       'Paraguay', 'Colombia', 'Korea, Republic of', 'Algeria', 'Turkey',
       'Israel', 'Myanmar', 'Finland', 'Russian Federation',
       'South Africa', 'Qatar', 'Mexico', 'Oman', 'Peru', 'Belgium',
       'Uruguay', 'Romania', 'Chile', 'Panama', 'Kazakhstan', 'Sri Lanka',
       'Honduras', 'Lebanon', 'Sweden', 'Ireland',
       'Bolivia, Plurinational State of', 'Nigeria', 'Czech Republic',
       'Bangladesh', 'Mongolia', 'Macao, China', 'Guatemala',
       "Côte d'Ivoire", 'Bahrain', 'Papua New Guinea', 'Ghana',
       'Kyrgyzstan', 'Ukraine', 'Tanzania, United Republic of', 'Fiji',
       'Switzerland', 'Kenya', 'Austria', 'Angola',
       'Iran, Islamic Republic of', 'Hungary', 'Madagascar', 'Ecuador',
       'Maldives', 'Brunei Darussalam', 'Slovenia', 'Tunisia',
       'Costa Rica', "Lao People's Democratic Republic", 'Senegal',
       'Uzbekistan', 'Greece', 'Gabon', 'Sint Maarten (Dutch part)',
       'Jamaica', 'Norway', 'Afghanistan', 'Portugal', 'Zimbabwe',
       'Mauritius', 'Curaçao', 'Nepal', 'South Sudan', 'Iceland', 'Yemen',
       'Estonia', 'Liberia', 'Pakistan', 'Turkmenistan',
       'Dominican Republic', 'Bosnia and Herzegovina',
       'Congo, Democratic Republic of the', 'Aruba', 'Cambodia',
       'Solomon Islands', 'Nicaragua', 'Somalia', 'Comoros', 'Croatia',
       'Guyana', 'Mozambique', 'Tajikistan', 'Djibouti',
       'Equatorial Guinea', 'Trinidad and Tobago', 'Cyprus', 'Grenada',
       'Marshall Islands', 'Malawi', 'Kuwait', 'Egypt', 'Uganda',
       'Morocco', 'Mauritania', 'Bulgaria', 'Sudan', 'Rwanda', 'Zambia',
       'Samoa', 'Togo', 'Tonga', 'Syrian Arab Republic',
       'Macedonia, The Former Yugoslav Republic of',
       'Turks and Caicos Islands', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Sudan (before 2012)',
       'Suriname', 'Slovakia', 'Venezuela, Bolivarian Republic of',
       'Burkina Faso', 'Cameroon', 'Burundi', 'Belarus', 'Congo',
       'Cook Islands', 'Chad', 'Cabo Verde', 'Cayman Islands', 'Botswana',
       'Belize', 'Armenia', 'Barbados', 'Bhutan', 'Albania', 'Bahamas',
       'Antigua and Barbuda', 'Azerbaijan', 'Argentina', 'Guinea',
       'Haiti', 'Georgia', 'Gambia', 'Palestine, State of', 'Kiribati',
       'French Polynesia', 'Cuba', 'Benin', 'Dominica', 'Ethiopia',
       'El Salvador', 'Mali', 'Malta', 'Latvia', 'Libya, State of',
       'Lithuania', 'Luxembourg',
       "Korea, Democratic People's Republic of", 'Jordan', 'Namibia',
       'Moldova, Republic of', 'Montenegro', 'New Caledonia', 'Vanuatu',
       'Oceania Nes', 'Netherlands Antilles', 'Palau', 'Niger',
       'Micronesia, Federated States of', 'Timor-Leste'], dtype=object)

In [29]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar

# 841810 için ilk 5 ülke
#'World', 'United States of America', 'Japan', 'France',
#       'United Kingdom', 'Australia'
if Product==841810 :

    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
    )].transpose().reset_index()

# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
elif Product==841840:
    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Germany')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
elif Product==841850:


    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
   | (China_all['Importers']=='Italy')
   | (China_all['Importers']=='Indonesia')
    )].transpose().reset_index()

In [30]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
China_all.columns = China_all.iloc[0]
China_all=China_all.reindex(China_all.index.drop(0))

#China_all=China_all.dropna()

China_all.loc[:, 'Date'] = 0
China_all.loc[:, 'Year'] = 0
China_all.loc[:, 'Month'] = 0

i=China_all[China_all['Importers'].str.contains("Unnamed")==True].index
China_all.drop(i,inplace=True)

China_all=China_all.drop_duplicates('World')

In [31]:
China_all

,Importers,World,United States of America,Australia,Italy,Indonesia,United Kingdom,Date,Year,Month
1,Exported value in 2016-M08_x,76555,15942,5856,4194,3381,4218,0,0,0
2,Exported value in 2016-M09_x,76235,15743,7133,4579,6892,2964,0,0,0
3,Exported value in 2016-M10_x,61081,14344,5591,2524,3423,3678,0,0,0
4,Exported value in 2016-M11_x,73246,16972,7638,3148,4418,2901,0,0,0
5,Exported value in 2016-M12_x,70734,15746,5850,5997,2658,4227,0,0,0
6,Exported value in 2017-M01_x,81627,21556,8508,4420,4142,3923,0,0,0
7,Exported value in 2017-M02_x,49263,16832,4827,3179,1088,1640,0,0,0
8,Exported value in 2017-M03_x,79018,20244,8144,3976,2408,3269,0,0,0
9,Exported value in 2017-M04_x,85231,19757,6653,7400,3775,3267,0,0,0
10,Exported value in 2017-M05_x,89453,20369,7634,4910,4368,3940,0,0,0
11,Exported value in 2017-M06_x,83119,19047,7070,4522,1811,4483,0,0,0
12,Exported value in 2017-M07_x,77071,18750,6152,1294,4054,3491,0,0,0
13,Exported value in 2017-M08_x,78286,15443,5895,4094,2712,4837,0,0,0
14,Exported value in 2017-M09_x,76128,17303,5355,3604,2127,3226,0,0,0
15,Exported value in 2017-M10_x,74822,17163,5601,2913,5386,3003,0,0,0
16,Exported value in 2017-M11_x,85245,21111,7499,3606,4013,1973,0,0,0
17,Exported value in 2017-M12_x,97631,20210,7581,4842,7596,5063,0,0,0
18,Exported value in 2018-M01,87015,22889,6462,5013,2764,3683,0,0,0
19,Exported value in 2018-M02,80016,21051,6513,3637,2665,3274,0,0,0
20,Exported value in 2018-M03,79368,19995,7060,5276,4086,3158,0,0,0
22,Exported value in 2016-M05_x,83999,19337,6455,5540,3837,4003,0,0,0
23,Exported value in 2016-M06_x,70053,14994,5970,3212,3083,3036,0,0,0
24,Exported value in 2016-M07_x,73801,16272,8194,3072,1888,3273,0,0,0
43,Exported value in 2015-M10_x,57570,11175,7279,3632,2512,2624,0,0,0
44,Exported value in 2015-M11,59736,12931,9212,2092,2647,1885,0,0,0
45,Exported value in 2015-M12,73728,15873,5653,4870,3358,3437,0,0,0
46,Exported value in 2016-M01,70526,16636,8136,3503,2209,2858,0,0,0
47,Exported value in 2016-M02,51182,8514,4934,2784,1633,3150,0,0,0
48,Exported value in 2016-M03,66369,12486,6132,4965,1449,3308,0,0,0
49,Exported value in 2016-M04,70014,14807,6103,2692,2907,3032,0,0,0
...,...,...,...,...,...,...,...,...,...,...
156,Exported value in 2008-M07,27130,4267,1188,1294,2171,1573,0,0,0
157,Exported value in 2008-M08,25728,4164,2018,1088,1305,1468,0,0,0
158,Exported value in 2008-M09,21116,3317,1034,1481,1018,1533,0,0,0
159,Exported value in 2008-M10,22288,4171,2007,1437,761,993,0,0,0
160,Exported value in 2008-M11,20421,5140,1386,833,905,1051,0,0,0
161,Exported value in 2008-M12,19214,3362,1470,722,296,404,0,0,0
162,Exported value in 2009-M01,18757,3356,766,538,362,751,0,0,0
163,Exported value in 2009-M02,12491,2614,1102,232,180,456,0,0,0
164,Exported value in 2009-M03,21671,4674,1414,266,1024,609,0,0,0
165,Exported value in 2009-M04,21710,5211,569,212,914,557,0,0,0
166,Exported value in 2009-M05,26200,6848,1512,166,1022,1145,0,0,0
169,Exported value in 2006-M04,18826,5128,623,685,572,1091,0,0,0
170,Exported value in 2006-M05,17703,4987,813,670,357,992,0,0,0
171,Exported value in 2006-M06,20071,5945,1167,658,810,992,0,0,0
172,Exported value in 2006-M07,20918,5519,1268,169,904,1505,0,0,0
173,Exported value in 2006-M08,23262,6561,731,657,873,1148,0,0,0
174,Exported value in 2006-M09,24104,7191,1683,505,1050,1200,0,0,0
175,Exported value in 2006-M10,20984,6800,2709,605,510,791,0,0,0
176,Exported value in 2006-M11,20148,4970,1611,990,468,1426,0,0,0
177,Exported value in 2006-M12,19165,4410,1594,671,1249,1019,0,0,0
178,Exported value in 2007-M01,19277,4845,1940,542,1555,1562,0,0,0
179,Exported value in 2007-M02,21954,4516,2050,1248,584,764,0,0,0
180,Exported value in 2007-M03,21376,5175,460,1188,831,1571,0,0,0
181,Exported value in 2007-M04,29783,7137,838,1760,1037,1738,0,0,0
182,Exported value in 2007-M05,32606,11846,1224,1152,667,1857,0,0,0
183,Exported value in 2007-M06,35738,10010,920,1696,1300,1191,0,0,0
184,Exported value in 2007-M07,34327,10326,1038,1650,1326,2493,0,0,0
185,Exported value in 2007-M08,38455,12255,908,2388,1330,2796,0,0,0
186,Exported value in 2007-M09,26579,8973,1430,1864,818,2155,0,0,0
187,Exported value in 2007-M10,32340,11725,2317,1011,528,3878,0,0,0

In [32]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)
    year=int(year)
    month=int(month)

    return date, year, month

In [33]:
for num in range(0,China_all.shape[0]):
    China_all.iloc[num,7]=finddate(China_all.iloc[num,0])[0]
    China_all.iloc[num,8]=finddate(China_all.iloc[num,0])[1]
    China_all.iloc[num,9]=finddate(China_all.iloc[num,0])[2]

In [34]:
China_all.drop('Importers',axis=1,inplace=True)
China_all=China_all.sort_values(by='Date', ascending=1)

In [35]:
if Product==841810 :
# 841810 için ilk 5 ülke
#'World', 'United States of AmeriWorld, 'Japan', 'France',
#       'United Kingdom', 'AustraWorld'
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Australia','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841810'})
    China_all['CHN_GBR_841810-1'] = China_all['CHN_GBR_841810'].shift(1)
    China_all['CHN_GBR_841810-2'] = China_all['CHN_GBR_841810'].shift(2)
    China_all['CHN_GBR_841810-3'] = China_all['CHN_GBR_841810'].shift(3)
    China_all['CHN_GBR_841810-6'] = China_all['CHN_GBR_841810'].shift(6)
    China_all['CHN_GBR_841810-12'] = China_all['CHN_GBR_841810'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841810'})
    China_all['CHN_World_841810-1'] = China_all['CHN_World_841810'].shift(1)
    China_all['CHN_World_841810-2'] = China_all['CHN_World_841810'].shift(2)
    China_all['CHN_World_841810-3'] = China_all['CHN_World_841810'].shift(3)
    China_all['CHN_World_841810-6'] = China_all['CHN_World_841810'].shift(6)
    China_all['CHN_World_841810-12'] = China_all['CHN_World_841810'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841810'})
    China_all['CHN_USA_841810-1'] = China_all['CHN_USA_841810'].shift(1)
    China_all['CHN_USA_841810-2'] = China_all['CHN_USA_841810'].shift(2)
    China_all['CHN_USA_841810-3'] = China_all['CHN_USA_841810'].shift(3)
    China_all['CHN_USA_841810-6'] = China_all['CHN_USA_841810'].shift(6)
    China_all['CHN_USA_841810-12'] = China_all['CHN_USA_841810'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841810'})
    China_all['CHN_JPN_841810-1'] = China_all['CHN_JPN_841810'].shift(1)
    China_all['CHN_JPN_841810-2'] = China_all['CHN_JPN_841810'].shift(2)
    China_all['CHN_JPN_841810-3'] = China_all['CHN_JPN_841810'].shift(3)
    China_all['CHN_JPN_841810-6'] = China_all['CHN_JPN_841810'].shift(6)
    China_all['CHN_JPN_841810-12'] = China_all['CHN_JPN_841810'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841810'})
    China_all['CHN_FRA_841810-1'] = China_all['CHN_FRA_841810'].shift(1)
    China_all['CHN_FRA_841810-2'] = China_all['CHN_FRA_841810'].shift(2)
    China_all['CHN_FRA_841810-3'] = China_all['CHN_FRA_841810'].shift(3)
    China_all['CHN_FRA_841810-6'] = China_all['CHN_FRA_841810'].shift(6)
    China_all['CHN_FRA_841810-12'] = China_all['CHN_FRA_841810'].shift(12)

    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841810'})
    China_all['CHN_AUS_841810-1'] = China_all['CHN_AUS_841810'].shift(1)
    China_all['CHN_AUS_841810-2'] = China_all['CHN_AUS_841810'].shift(2)
    China_all['CHN_AUS_841810-3'] = China_all['CHN_AUS_841810'].shift(3)
    China_all['CHN_AUS_841810-6'] = China_all['CHN_AUS_841810'].shift(6)
    China_all['CHN_AUS_841810-12'] = China_all['CHN_AUS_841810'].shift(12)
    
elif Product==841840:
# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Germany','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841840'})
    China_all['CHN_GBR_841840-1'] = China_all['CHN_GBR_841840'].shift(1)
    China_all['CHN_GBR_841840-2'] = China_all['CHN_GBR_841840'].shift(2)
    China_all['CHN_GBR_841840-3'] = China_all['CHN_GBR_841840'].shift(3)
    China_all['CHN_GBR_841840-6'] = China_all['CHN_GBR_841840'].shift(6)
    China_all['CHN_GBR_841840-12'] = China_all['CHN_GBR_841840'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841840'})
    China_all['CHN_World_841840-1'] = China_all['CHN_World_841840'].shift(1)
    China_all['CHN_World_841840-2'] = China_all['CHN_World_841840'].shift(2)
    China_all['CHN_World_841840-3'] = China_all['CHN_World_841840'].shift(3)
    China_all['CHN_World_841840-6'] = China_all['CHN_World_841840'].shift(6)
    China_all['CHN_World_841840-12'] = China_all['CHN_World_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841840'})
    China_all['CHN_USA_841840-1'] = China_all['CHN_USA_841840'].shift(1)
    China_all['CHN_USA_841840-2'] = China_all['CHN_USA_841840'].shift(2)
    China_all['CHN_USA_841840-3'] = China_all['CHN_USA_841840'].shift(3)
    China_all['CHN_USA_841840-6'] = China_all['CHN_USA_841840'].shift(6)
    China_all['CHN_USA_841840-12'] = China_all['CHN_USA_841840'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841840'})
    China_all['CHN_JPN_841840-1'] = China_all['CHN_JPN_841840'].shift(1)
    China_all['CHN_JPN_841840-2'] = China_all['CHN_JPN_841840'].shift(2)
    China_all['CHN_JPN_841840-3'] = China_all['CHN_JPN_841840'].shift(3)
    China_all['CHN_JPN_841840-6'] = China_all['CHN_JPN_841840'].shift(6)
    China_all['CHN_JPN_841840-12'] = China_all['CHN_JPN_841840'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841840'})
    China_all['CHN_FRA_841840-1'] = China_all['CHN_FRA_841840'].shift(1)
    China_all['CHN_FRA_841840-2'] = China_all['CHN_FRA_841840'].shift(2)
    China_all['CHN_FRA_841840-3'] = China_all['CHN_FRA_841840'].shift(3)
    China_all['CHN_FRA_841840-6'] = China_all['CHN_FRA_841840'].shift(6)
    China_all['CHN_FRA_841840-12'] = China_all['CHN_FRA_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'Germany':'CHN_DEU_841840'})
    China_all['CHN_DEU_841840-1'] = China_all['CHN_DEU_841840'].shift(1)
    China_all['CHN_DEU_841840-2'] = China_all['CHN_DEU_841840'].shift(2)
    China_all['CHN_DEU_841840-3'] = China_all['CHN_DEU_841840'].shift(3)
    China_all['CHN_DEU_841840-6'] = China_all['CHN_DEU_841840'].shift(6)
    China_all['CHN_DEU_841840-12'] = China_all['CHN_DEU_841840'].shift(12)
    
elif Product==841850:
    
# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Australia', 'Italy','Indonesia','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841850'})
    China_all['CHN_GBR_841850-1'] = China_all['CHN_GBR_841850'].shift(1)
    China_all['CHN_GBR_841850-2'] = China_all['CHN_GBR_841850'].shift(2)
    China_all['CHN_GBR_841850-3'] = China_all['CHN_GBR_841850'].shift(3)
    China_all['CHN_GBR_841850-6'] = China_all['CHN_GBR_841850'].shift(6)
    China_all['CHN_GBR_841850-12'] = China_all['CHN_GBR_841850'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841850'})
    China_all['CHN_World_841850-1'] = China_all['CHN_World_841850'].shift(1)
    China_all['CHN_World_841850-2'] = China_all['CHN_World_841850'].shift(2)
    China_all['CHN_World_841850-3'] = China_all['CHN_World_841850'].shift(3)
    China_all['CHN_World_841850-6'] = China_all['CHN_World_841850'].shift(6)
    China_all['CHN_World_841850-12'] = China_all['CHN_World_841850'].shift(12)

    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841850'})
    China_all['CHN_USA_841850-1'] = China_all['CHN_USA_841850'].shift(1)
    China_all['CHN_USA_841850-2'] = China_all['CHN_USA_841850'].shift(2)
    China_all['CHN_USA_841850-3'] = China_all['CHN_USA_841850'].shift(3)
    China_all['CHN_USA_841850-6'] = China_all['CHN_USA_841850'].shift(6)
    China_all['CHN_USA_841850-12'] = China_all['CHN_USA_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841850'})
    China_all['CHN_AUS_841850-1'] = China_all['CHN_AUS_841850'].shift(1)
    China_all['CHN_AUS_841850-2'] = China_all['CHN_AUS_841850'].shift(2)
    China_all['CHN_AUS_841850-3'] = China_all['CHN_AUS_841850'].shift(3)
    China_all['CHN_AUS_841850-6'] = China_all['CHN_AUS_841850'].shift(6)
    China_all['CHN_AUS_841850-12'] = China_all['CHN_AUS_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Italy':'CHN_ITA_841850'})
    China_all['CHN_ITA_841850-1'] = China_all['CHN_ITA_841850'].shift(1)
    China_all['CHN_ITA_841850-2'] = China_all['CHN_ITA_841850'].shift(2)
    China_all['CHN_ITA_841850-3'] = China_all['CHN_ITA_841850'].shift(3)
    China_all['CHN_ITA_841850-6'] = China_all['CHN_ITA_841850'].shift(6)
    China_all['CHN_ITA_841850-12'] = China_all['CHN_ITA_841850'].shift(12)

    China_all=China_all.rename(columns = {'Indonesia':'CHN_IDN_841850'})
    China_all['CHN_IDN_841850-1'] = China_all['CHN_IDN_841850'].shift(1)
    China_all['CHN_IDN_841850-2'] = China_all['CHN_IDN_841850'].shift(2)
    China_all['CHN_IDN_841850-3'] = China_all['CHN_IDN_841850'].shift(3)
    China_all['CHN_IDN_841850-6'] = China_all['CHN_IDN_841850'].shift(6)
    China_all['CHN_IDN_841850-12'] = China_all['CHN_IDN_841850'].shift(12)

In [36]:
China_all=China_all.drop_duplicates('Date')
#China_all=China_all.dropna()
China_all.to_excel('{}_CHN_all.xlsx'.format(Product),index = False)