In [88]:
import numpy as np
import pandas as pd
Product=841850

In [89]:
#'My number is: {one}, and my name is: {two}'.format(one=num,two=name)
'{}-2015-UK-Import.txt'.format(Product)

'841850-2015-UK-Import.txt'

In [90]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
UK_15 = pd.read_csv('{}-2015-UK-Import.txt'.format(Product),sep='\t')
UK_14 = pd.read_csv('{}-2014-UK-Import.txt'.format(Product),sep='\t')
UK_12 = pd.read_csv('{}-2012-UK-Import.txt'.format(Product),sep='\t')
UK_11 = pd.read_csv('{}-2011-UK-Import.txt'.format(Product),sep='\t')
UK_09 = pd.read_csv('{}-2009-UK-Import.txt'.format(Product),sep='\t')
UK_08 = pd.read_csv('{}-2008-UK-Import.txt'.format(Product),sep='\t')
UK_06 = pd.read_csv('{}-2006-UK-Import.txt'.format(Product),sep='\t')

In [91]:
#Butun Importer bilgisine gore birlestirilir.
UK_all = UK_15.merge(UK_14, 
                        on = 'Exporters',how = 'left').merge(UK_12,
                        on = 'Exporters',how = 'left').merge(UK_11, 
                        on = 'Exporters',how = 'left').merge(UK_09,
                        on = 'Exporters',how = 'left').merge(UK_08, 
                        on = 'Exporters',how = 'left').merge(UK_06, 
                        on = 'Exporters',how = 'left')

In [92]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
UK_all['Exporters'].unique()

array(['World', 'China', 'Turkey', 'Austria', 'Czech Republic', 'Italy',
       'United States of America', 'Portugal', 'Germany', 'Ireland',
       'Denmark', 'Hungary', 'Netherlands', 'Slovakia', 'France',
       'Thailand', 'Romania', 'Mexico', 'Greece', 'South Africa',
       'Hong Kong, China', 'Spain', 'Belgium', 'Poland', 'New Zealand',
       'India', 'Norway', 'Singapore', 'Sweden', 'Switzerland',
       'United Arab Emirates', 'Ukraine', 'Egypt', 'Slovenia',
       'Russian Federation', 'Pakistan', 'Taipei, Chinese', 'Brazil',
       'Bulgaria', 'Canada', 'Bahrain', 'Colombia', 'Finland', 'Japan',
       'Jordan', 'Korea, Republic of', 'Malaysia'], dtype=object)

In [93]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar
# 841810 için ilk 5 ülke
#'World', 'China', 'Poland', 'Turkey', 'Korea, Republic of', 'Italy'
if Product==841810 :
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Poland') 
   | (UK_all['Exporters']=='Korea, Republic of')
   | (UK_all['Exporters']=='Italy')
    )].transpose().reset_index()
# 841840 için ilk 5 ülke
#''World', 'China', 'Turkey', 'Germany', 'Netherlands', 'Hungary',
elif Product==841840:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Germany') 
   | (UK_all['Exporters']=='Netherlands')
   | (UK_all['Exporters']=='Hungary')
    )].transpose().reset_index()

# 841850 için ilk 5 ülke
#'World', 'China', 'Turkey', 'Austria', 'Czech Republic', 'Italy',
#       

elif Product==841850:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Austria') 
   | (UK_all['Exporters']=='Czech Republic')
   | (UK_all['Exporters']=='Italy')
    )].transpose().reset_index()

In [94]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
UK_all.columns = UK_all.iloc[0]
UK_all=UK_all.reindex(UK_all.index.drop(0))
UK_all=UK_all.dropna()
UK_all.loc[:, 'Date'] = 0
if Product==841840 :
    UK_all=UK_all.drop_duplicates(subset=['World', 'Germany'])
else:
    UK_all=UK_all.drop_duplicates('World')

In [95]:
UK_all.iloc[50:100,:]
#UK_

0                       Exporters  World Austria Czech Republic Italy  Date
54     Imported value in 2013-M09  24137    1283           1154  7575     0
55     Imported value in 2013-M10  28674    3620           1474  7913     0
56     Imported value in 2013-M11  24425    3608           1412  3971     0
57     Imported value in 2013-M12  15503    1031            367  3914     0
58     Imported value in 2014-M01  15615    2161            219  2772     0
59     Imported value in 2014-M02  16907    2574            421  3066     0
60     Imported value in 2014-M03  21466    3480            340  4029     0
61     Imported value in 2014-M04  17971    1717            171  2965     0
64   Imported value in 2011-M03_x  19442     477           2448  5333     0
65     Imported value in 2011-M04  20351     583            754  5174     0
66     Imported value in 2011-M05  22966     890           3131  3875     0
67     Imported value in 2011-M06  23555     988           4267  4282     0
68     Imported value in 2011-M07  26860     949           7113  5781     0
69     Imported value in 2011-M08  22310    1412           5022  3588     0
70     Imported value in 2011-M09  25088     759           7806  3583     0
71     Imported value in 2011-M10  19240    1062           2685  3366     0
72     Imported value in 2011-M11  16114     817            177  4150     0
73     Imported value in 2011-M12  15225     523           1941  2779     0
74     Imported value in 2012-M01  14725     629           1477  2170     0
75     Imported value in 2012-M02  16962    1743            675  3467     0
76     Imported value in 2012-M03  18874     743           2644  5509     0
77     Imported value in 2012-M04  17546     636            431  4470     0
78     Imported value in 2012-M05  21933    1461           4068  4516     0
79     Imported value in 2012-M06  23265    1979           3493  4629     0
80     Imported value in 2012-M07  22400     849           2488  4795     0
81     Imported value in 2012-M08  21755     459           2820  5297     0
82     Imported value in 2012-M09  22024     576           4280  4577     0
85   Imported value in 2009-M08_x  18283     987           2263  3842     0
86     Imported value in 2009-M09  24381     972           3441  5487     0
87     Imported value in 2009-M10  22088    1847           3512  4642     0
88     Imported value in 2009-M11  18630     873           2719  3775     0
89     Imported value in 2009-M12  10465     451            370  1995     0
90     Imported value in 2010-M01  13676    1249           1123  2552     0
91     Imported value in 2010-M02  16940    1185           3287  3776     0
92     Imported value in 2010-M03  17196     841           3543  3570     0
93     Imported value in 2010-M04  16713     865           1234  4173     0
94     Imported value in 2010-M05  18263     927           3234  4006     0
95     Imported value in 2010-M06  19014    1078           3864  4425     0
96     Imported value in 2010-M07  21478    1023           3265  6537     0
97     Imported value in 2010-M08  22390     994           4808  3863     0
98     Imported value in 2010-M09  26412     756           6757  4619     0
99     Imported value in 2010-M10  26973     732           6291  4209     0
100    Imported value in 2010-M11  17282     629            357  3405     0
101    Imported value in 2010-M12  16637      95           2842  4124     0
102    Imported value in 2011-M01  16703     837           1887  3446     0
103    Imported value in 2011-M02  16532     748           2350  4053     0
106  Imported value in 2008-M01_x  28105     810           8717  4650     0
107    Imported value in 2008-M02  26506    1496           2577  7442     0
108    Imported value in 2008-M03  25671    2146           1499  6195     0
109    Imported value in 2008-M04  25170    2074            792  7064     0

In [96]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [97]:
for num in range(0,UK_all.shape[0]):
    UK_all.iloc[num,5]=finddate(UK_all.iloc[num,0])

In [98]:
UK_all.drop('Exporters',axis=1,inplace=True)
UK_all=UK_all.sort_values(by='Date', ascending=1)

In [99]:
if Product==841810 :
    UK_all=UK_all.rename(columns = {'Poland':'POL_GBR_841810'})
    UK_all['POL_GBR_841810-1'] = UK_all['POL_GBR_841810'].shift(1)
    UK_all['POL_GBR_841810-2'] = UK_all['POL_GBR_841810'].shift(2)
    UK_all['POL_GBR_841810-3'] = UK_all['POL_GBR_841810'].shift(3)
    UK_all['POL_GBR_841810-6'] = UK_all['POL_GBR_841810'].shift(6)
    UK_all['POL_GBR_841810-12'] = UK_all['POL_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Korea, Republic of':'KOR_GBR_841810'})
    UK_all['KOR_GBR_841810-1'] = UK_all['KOR_GBR_841810'].shift(1)
    UK_all['KOR_GBR_841810-2'] = UK_all['KOR_GBR_841810'].shift(2)
    UK_all['KOR_GBR_841810-3'] = UK_all['KOR_GBR_841810'].shift(3)
    UK_all['KOR_GBR_841810-6'] = UK_all['KOR_GBR_841810'].shift(6)
    UK_all['KOR_GBR_841810-12'] = UK_all['KOR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841810'})
    UK_all['ITA_GBR_841810-1'] = UK_all['ITA_GBR_841810'].shift(1)
    UK_all['ITA_GBR_841810-2'] = UK_all['ITA_GBR_841810'].shift(2)
    UK_all['ITA_GBR_841810-3'] = UK_all['ITA_GBR_841810'].shift(3)
    UK_all['ITA_GBR_841810-6'] = UK_all['ITA_GBR_841810'].shift(6)
    UK_all['ITA_GBR_841810-12'] = UK_all['ITA_GBR_841810'].shift(12)

elif Product==841840:

    UK_all=UK_all.rename(columns = {'Germany':'DEU_GBR_841840'})
    UK_all['DEU_GBR_841840-1'] = UK_all['DEU_GBR_841840'].shift(1)
    UK_all['DEU_GBR_841840-2'] = UK_all['DEU_GBR_841840'].shift(2)
    UK_all['DEU_GBR_841840-3'] = UK_all['DEU_GBR_841840'].shift(3)
    UK_all['DEU_GBR_841840-6'] = UK_all['DEU_GBR_841840'].shift(6)
    UK_all['DEU_GBR_841840-12'] = UK_all['DEU_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Netherlands':'NLD_GBR_841840'})
    UK_all['NLD_GBR_841840-1'] = UK_all['NLD_GBR_841840'].shift(1)
    UK_all['NLD_GBR_841840-2'] = UK_all['NLD_GBR_841840'].shift(2)
    UK_all['NLD_GBR_841840-3'] = UK_all['NLD_GBR_841840'].shift(3)
    UK_all['NLD_GBR_841840-6'] = UK_all['NLD_GBR_841840'].shift(6)
    UK_all['NLD_GBR_841840-12'] = UK_all['NLD_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Hungary':'HUN_GBR_841840'})
    UK_all['HUN_GBR_841840-1'] = UK_all['HUN_GBR_841840'].shift(1)
    UK_all['HUN_GBR_841840-2'] = UK_all['HUN_GBR_841840'].shift(2)
    UK_all['HUN_GBR_841840-3'] = UK_all['HUN_GBR_841840'].shift(3)
    UK_all['HUN_GBR_841840-6'] = UK_all['HUN_GBR_841840'].shift(6)
    UK_all['HUN_GBR_841840-12'] = UK_all['HUN_GBR_841840'].shift(12)
    
elif Product==841850:
    UK_all=UK_all.rename(columns = {'Austria':'AUT_GBR_841850'})
    UK_all['AUT_GBR_841850-1'] = UK_all['AUT_GBR_841850'].shift(1)
    UK_all['AUT_GBR_841850-2'] = UK_all['AUT_GBR_841850'].shift(2)
    UK_all['AUT_GBR_841850-3'] = UK_all['AUT_GBR_841850'].shift(3)
    UK_all['AUT_GBR_841850-6'] = UK_all['AUT_GBR_841850'].shift(6)
    UK_all['AUT_GBR_841850-12'] = UK_all['AUT_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Czech Republic':'CHZ_GBR_841850'})
    UK_all['CHZ_GBR_841850-1'] = UK_all['CHZ_GBR_841850'].shift(1)
    UK_all['CHZ_GBR_841850-2'] = UK_all['CHZ_GBR_841850'].shift(2)
    UK_all['CHZ_GBR_841850-3'] = UK_all['CHZ_GBR_841850'].shift(3)
    UK_all['CHZ_GBR_841850-6'] = UK_all['CHZ_GBR_841850'].shift(6)
    UK_all['CHZ_GBR_841850-12'] = UK_all['CHZ_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841850'})
    UK_all['ITA_GBR_841850-1'] = UK_all['ITA_GBR_841850'].shift(1)
    UK_all['ITA_GBR_841850-2'] = UK_all['ITA_GBR_841850'].shift(2)
    UK_all['ITA_GBR_841850-3'] = UK_all['ITA_GBR_841850'].shift(3)
    UK_all['ITA_GBR_841850-6'] = UK_all['ITA_GBR_841850'].shift(6)
    UK_all['ITA_GBR_841850-12'] = UK_all['ITA_GBR_841850'].shift(12)

In [100]:
#UK_all=UK_all.dropna()
UK_all.to_excel('{}_UK_all.xlsx'.format(Product),index = False)