In [31]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850
Product=841840

In [32]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
Turkey_17 = pd.read_csv('Turkey Export Data\{}-2017-Turkey.txt'.format(Product),sep='\t')
Turkey_16 = pd.read_csv('Turkey Export Data\{}-2016-Turkey.txt'.format(Product),sep='\t')
Turkey_14 = pd.read_csv('Turkey Export Data\{}-2014-Turkey.txt'.format(Product),sep='\t')
Turkey_12 = pd.read_csv('Turkey Export Data\{}-2012-Turkey.txt'.format(Product),sep='\t')
Turkey_11 = pd.read_csv('Turkey Export Data\{}-2011-Turkey.txt'.format(Product),sep='\t')
Turkey_09 = pd.read_csv('Turkey Export Data\{}-2009-Turkey.txt'.format(Product),sep='\t')
Turkey_08 = pd.read_csv('Turkey Export Data\{}-2008-Turkey.txt'.format(Product),sep='\t')
Turkey_06 = pd.read_csv('Turkey Export Data\{}-2006-Turkey.txt'.format(Product),sep='\t')

In [33]:
#Butun Importer bilgisine gore birlestirilir.
TUR_all = Turkey_17.merge(Turkey_16, 
                        on = 'Importers',how = 'left').merge(Turkey_14,
                        on = 'Importers',how = 'left').merge(Turkey_12,
                        on = 'Importers',how = 'left').merge(Turkey_11, 
                        on = 'Importers',how = 'left').merge(Turkey_09,
                        on = 'Importers',how = 'left').merge(Turkey_08, 
                        on = 'Importers',how = 'left').merge(Turkey_06, 
                        on = 'Importers',how = 'left')

In [34]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
TUR_all['Importers'].unique()

array(['World', 'United States of America', 'United Kingdom', 'France',
       'Germany', 'Egypt', 'Sweden', 'Israel', 'Spain', 'Ukraine',
       'Italy', 'Belgium', 'Denmark', 'Morocco', 'Switzerland', 'Canada',
       'Poland', 'Portugal', 'Saudi Arabia', 'Slovenia', 'Georgia',
       'Ireland', 'Austria', 'Netherlands', 'Russian Federation', 'Iraq',
       'Cyprus', 'Slovakia', "Côte d'Ivoire", 'Finland',
       'United Arab Emirates', 'Jordan', 'Oman', 'Croatia', 'Greece',
       'Malta', 'Montenegro', 'Senegal', 'Romania', 'Serbia', 'Kuwait',
       'Bulgaria', 'Qatar', 'Australia', 'Libya, State of',
       'Macedonia, The Former Yugoslav Republic of', 'Nigeria',
       'Bangladesh', 'Tunisia', 'Czech Republic', 'Albania', 'Bahrain',
       'Azerbaijan', 'Kazakhstan', 'Estonia', 'China', 'Ghana',
       'Saint Vincent and the Grenadines', 'Colombia',
       'Bosnia and Herzegovina', 'Hungary', 'Gabon',
       'Syrian Arab Republic', 'India', 'Uzbekistan', 'Benin',
       'Lithuania', 'Niger', 'New Caledonia', 'Norway',
       'Tanzania, United Republic of', 'Brunei Darussalam', 'Algeria',
       'Afghanistan', 'Cameroon', 'Zambia', 'Burkina Faso',
       'Turkmenistan', 'Moldova, Republic of',
       'Iran, Islamic Republic of', 'Kyrgyzstan', 'Lebanon', 'Latvia',
       'Liberia', 'Malaysia', 'Maldives', 'Mali', 'Mauritania',
       'Mauritius', 'Taipei, Chinese', 'Mongolia', 'Gambia',
       'Palestine, State of', 'Guinea', 'Guyana', 'Hong Kong, China',
       'Indonesia', 'Japan', 'Congo', 'Cabo Verde', 'Sri Lanka', 'Chile',
       'Ethiopia', 'Djibouti', 'Angola', 'Argentina', 'Brazil', 'Belarus',
       'Bolivia, Plurinational State of', 'Kenya', 'Korea, Republic of',
       'New Zealand', 'Mozambique', 'Pakistan', 'Paraguay', 'Peru',
       'Guinea-Bissau', 'Singapore', 'Viet Nam', 'Somalia',
       'South Africa', 'Sudan', 'Sudan (before 2012)', 'Rwanda',
       'Saint Lucia', 'Seychelles', 'Sierra Leone', 'Uganda',
       'Tajikistan', 'Thailand', 'Togo', 'Uruguay', 'Free Zones'],
      dtype=object)

In [35]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar


# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Italy')
   | (TUR_all['Importers']=='France')
   | (TUR_all['Importers']=='United States of America') 
    )].transpose().reset_index()


# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
elif Product==841840:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
    | (TUR_all['Importers']=='United Kingdom')
    | (TUR_all['Importers']=='United States of America') 
    | (TUR_all['Importers']=='France')
    | (TUR_all['Importers']=='Germany')
    | (TUR_all['Importers']=='Sweden')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='Iraq')
   | (TUR_all['Importers']=='Saudi Arabia')
   | (TUR_all['Importers']=='Netherlands')
    )].transpose().reset_index()

In [36]:
TUR_all

,index,0,1,2,3,4,6
0,Importers,World,United States of America,United Kingdom,France,Germany,Sweden
1,Exported value in 2016-M11_x,17686,2414,2453,1489,2115,1363
2,Exported value in 2016-M12_x,15721,1832,2155,1243,1755,1553
3,Exported value in 2017-M01_x,11513,1507,2027,969,1382,631
4,Exported value in 2017-M02_x,13696,1711,2036,1193,1759,536
5,Exported value in 2017-M03_x,18059,1932,1702,1404,1918,856
6,Exported value in 2017-M04_x,17039,1867,2134,1628,1455,867
7,Exported value in 2017-M05_x,19666,2345,1942,1827,2240,1148
8,Exported value in 2017-M06_x,17432,2277,1948,1858,1545,858
9,Exported value in 2017-M07_x,16979,778,2030,1761,1945,683
10,Exported value in 2017-M08_x,21393,1827,3826,1527,2187,1074
11,Exported value in 2017-M09,15152,1944,2631,1048,1764,1006
12,Exported value in 2017-M10,16549,1751,3328,1129,2698,968
13,Exported value in 2017-M11,18375,4169,2489,1199,2352,1008
14,Exported value in 2017-M12,17030,4183,1831,1127,1928,1218
15,Exported value in 2018-M01,13720,2298,2713,809,1322,759
16,Exported value in 2018-M02,19445,2210,1967,785,5496,850
17,Exported value in 2018-M03,18300,3128,1726,1378,2494,904
18,Exported value in 2018-M04,19838,3753,2689,1915,2554,860
19,Exported value in 2018-M05,19780,2547,2899,1957,1480,837
20,Exported value in 2018-M06,18684,2939,2391,2367,1865,1152
21,Unnamed: 21_x,NaN,NaN,NaN,NaN,NaN,NaN
22,Exported value in 2016-M01_x,9857,649,2027,718,717,864
23,Exported value in 2016-M02,14469,1950,2656,1513,1039,844
24,Exported value in 2016-M03,17017,2248,2053,2267,1785,1056
25,Exported value in 2016-M04,15910,2609,2115,1441,1602,854
26,Exported value in 2016-M05,17081,1323,2665,2373,1712,1307
27,Exported value in 2016-M06,19925,1797,2554,2626,1852,1293
28,Exported value in 2016-M07,13105,480,1619,1576,1801,824
29,Exported value in 2016-M08,20842,2470,3523,2482,2233,1176
...,...,...,...,...,...,...,...
139,Exported value in 2009-M02,4643,0,1162,729,64,357
140,Exported value in 2009-M03,7696,0,3208,1100,234,65
141,Exported value in 2009-M04,8768,0,2577,2063,241,251
142,Exported value in 2009-M05,9520,0,2887,1810,192,259
143,Exported value in 2009-M06,9627,0,2862,2178,38,97
144,Exported value in 2009-M07,15909,0,4320,3753,1406,101
145,Exported value in 2009-M08,13050,0,3860,1707,2541,228
146,Exported value in 2009-M09_y,12623,0,5030,2117,158,457
147,Unnamed: 21_x,NaN,NaN,NaN,NaN,NaN,NaN
148,Exported value in 2006-M07,8070,0,2105,1323,297,169
149,Exported value in 2006-M08,9675,3,3650,1240,99,46
150,Exported value in 2006-M09,6265,0,2328,1063,276,13
151,Exported value in 2006-M10,6291,0,2418,815,346,27
152,Exported value in 2006-M11,9290,22,3558,799,276,54
153,Exported value in 2006-M12,8730,0,2565,1318,452,99
154,Exported value in 2007-M01,7400,0,4116,509,178,59
155,Exported value in 2007-M02,8068,0,3839,393,218,67
156,Exported value in 2007-M03,10850,0,2754,1532,636,28
157,Exported value in 2007-M04,8692,0,2692,1200,208,223
158,Exported value in 2007-M05,10713,0,2529,1579,435,97
159,Exported value in 2007-M06,12050,0,2032,2845,1552,65
160,Exported value in 2007-M07,10505,0,1733,1059,2338,38
161,Exported value in 2007-M08,7257,0,1426,797,168,94
162,Exported value in 2007-M09,5882,0,1568,543,90,195
163,Exported value in 2007-M10,8741,0,3427,708,209,226
164,Exported value in 2007-M11,9273,0,3195,754,122,18
165,Exported value in 2007-M12,7479,3,1743,918,210,30
166,Exported value in 2008-M01,6080,0,1422,661,155,27
167,Exported value in 2008-M02_y,6445,0,1544,628,278,71
168,Unnamed: 21_y,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
TUR_all.columns = TUR_all.iloc[0]
TUR_all=TUR_all.reindex(TUR_all.index.drop(0))

#TUR_all=TUR_all.dropna()

TUR_all.loc[:, 'Date'] = 0
TUR_all.loc[:, 'Year'] = 0
TUR_all.loc[:, 'Month'] = 0


i=TUR_all[TUR_all['Importers'].str.contains("Unnamed")==True].index
TUR_all.drop(i,inplace=True)

TUR_all=TUR_all.drop_duplicates('World')

In [38]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)
    year=int(year)
    month=int(month)

    return date, year, month

In [39]:
for num in range(0,TUR_all.shape[0]):
    TUR_all.iloc[num,7]=finddate(TUR_all.iloc[num,0])[0]
    TUR_all.iloc[num,8]=finddate(TUR_all.iloc[num,0])[1]
    TUR_all.iloc[num,9]=finddate(TUR_all.iloc[num,0])[2]

In [40]:
TUR_all.drop('Importers',axis=1,inplace=True)
TUR_all=TUR_all.sort_values(by='Date', ascending=1)

In [41]:
TUR_all

,World,United States of America,United Kingdom,France,Germany,Sweden,Date,Year,Month
148,8070,0,2105,1323,297,169,200607,2006,7
149,9675,3,3650,1240,99,46,200608,2006,8
150,6265,0,2328,1063,276,13,200609,2006,9
151,6291,0,2418,815,346,27,200610,2006,10
152,9290,22,3558,799,276,54,200611,2006,11
153,8730,0,2565,1318,452,99,200612,2006,12
154,7400,0,4116,509,178,59,200701,2007,1
155,8068,0,3839,393,218,67,200702,2007,2
156,10850,0,2754,1532,636,28,200703,2007,3
157,8692,0,2692,1200,208,223,200704,2007,4
158,10713,0,2529,1579,435,97,200705,2007,5
159,12050,0,2032,2845,1552,65,200706,2007,6
160,10505,0,1733,1059,2338,38,200707,2007,7
161,7257,0,1426,797,168,94,200708,2007,8
162,5882,0,1568,543,90,195,200709,2007,9
163,8741,0,3427,708,209,226,200710,2007,10
164,9273,0,3195,754,122,18,200711,2007,11
165,7479,3,1743,918,210,30,200712,2007,12
166,6080,0,1422,661,155,27,200801,2008,1
127,6445,0,1544,628,278,71,200802,2008,2
128,7781,0,1954,1044,286,105,200803,2008,3
129,7239,0,1606,1180,230,171,200804,2008,4
130,10308,0,3101,1430,1303,19,200805,2008,5
131,9145,0,1935,1879,1113,283,200806,2008,6
132,10558,16,3081,1291,1846,160,200807,2008,7
133,7312,0,2251,1236,655,87,200808,2008,8
134,9718,0,2568,1036,162,130,200809,2008,9
135,9112,0,3741,584,128,107,200810,2008,10
136,7018,0,3293,605,54,111,200811,2008,11
137,6207,0,2712,608,66,86,200812,2008,12
...,...,...,...,...,...,...,...,...,...
28,13105,480,1619,1576,1801,824,201607,2016,7
29,20842,2470,3523,2482,2233,1176,201608,2016,8
30,16398,1227,2441,1666,2176,1276,201609,2016,9
31,19154,2102,3286,1590,1868,1551,201610,2016,10
1,17686,2414,2453,1489,2115,1363,201611,2016,11
2,15721,1832,2155,1243,1755,1553,201612,2016,12
3,11513,1507,2027,969,1382,631,201701,2017,1
35,13721,1711,2036,1193,1759,536,201702,2017,2
4,13696,1711,2036,1193,1759,536,201702,2017,2
5,18059,1932,1702,1404,1918,856,201703,2017,3
37,17042,1867,2134,1628,1455,867,201704,2017,4
6,17039,1867,2134,1628,1455,867,201704,2017,4
7,19666,2345,1942,1827,2240,1148,201705,2017,5
38,19688,2345,1942,1827,2240,1153,201705,2017,5
8,17432,2277,1948,1858,1545,858,201706,2017,6
39,17430,2277,1948,1858,1545,858,201706,2017,6
9,16979,778,2030,1761,1945,683,201707,2017,7
40,17029,778,2030,1780,1945,683,201707,2017,7
10,21393,1827,3826,1527,2187,1074,201708,2017,8
41,21390,1827,3826,1527,2187,1074,201708,2017,8
11,15152,1944,2631,1048,1764,1006,201709,2017,9
12,16549,1751,3328,1129,2698,968,201710,2017,10
13,18375,4169,2489,1199,2352,1008,201711,2017,11
14,17030,4183,1831,1127,1928,1218,201712,2017,12
15,13720,2298,2713,809,1322,759,201801,2018,1
16,19445,2210,1967,785,5496,850,201802,2018,2
17,18300,3128,1726,1378,2494,904,201803,2018,3
18,19838,3753,2689,1915,2554,860,201804,2018,4
19,19780,2547,2899,1957,1480,837,201805,2018,5
20,18684,2939,2391,2367,1865,1152,201806,2018,6

In [42]:
#TUR_all=TUR_all.reindex(columns=['United Kingdom','World','France','United States of America','Italy','Germany','Date'])

In [43]:
TUR_all

,World,United States of America,United Kingdom,France,Germany,Sweden,Date,Year,Month
148,8070,0,2105,1323,297,169,200607,2006,7
149,9675,3,3650,1240,99,46,200608,2006,8
150,6265,0,2328,1063,276,13,200609,2006,9
151,6291,0,2418,815,346,27,200610,2006,10
152,9290,22,3558,799,276,54,200611,2006,11
153,8730,0,2565,1318,452,99,200612,2006,12
154,7400,0,4116,509,178,59,200701,2007,1
155,8068,0,3839,393,218,67,200702,2007,2
156,10850,0,2754,1532,636,28,200703,2007,3
157,8692,0,2692,1200,208,223,200704,2007,4
158,10713,0,2529,1579,435,97,200705,2007,5
159,12050,0,2032,2845,1552,65,200706,2007,6
160,10505,0,1733,1059,2338,38,200707,2007,7
161,7257,0,1426,797,168,94,200708,2007,8
162,5882,0,1568,543,90,195,200709,2007,9
163,8741,0,3427,708,209,226,200710,2007,10
164,9273,0,3195,754,122,18,200711,2007,11
165,7479,3,1743,918,210,30,200712,2007,12
166,6080,0,1422,661,155,27,200801,2008,1
127,6445,0,1544,628,278,71,200802,2008,2
128,7781,0,1954,1044,286,105,200803,2008,3
129,7239,0,1606,1180,230,171,200804,2008,4
130,10308,0,3101,1430,1303,19,200805,2008,5
131,9145,0,1935,1879,1113,283,200806,2008,6
132,10558,16,3081,1291,1846,160,200807,2008,7
133,7312,0,2251,1236,655,87,200808,2008,8
134,9718,0,2568,1036,162,130,200809,2008,9
135,9112,0,3741,584,128,107,200810,2008,10
136,7018,0,3293,605,54,111,200811,2008,11
137,6207,0,2712,608,66,86,200812,2008,12
...,...,...,...,...,...,...,...,...,...
28,13105,480,1619,1576,1801,824,201607,2016,7
29,20842,2470,3523,2482,2233,1176,201608,2016,8
30,16398,1227,2441,1666,2176,1276,201609,2016,9
31,19154,2102,3286,1590,1868,1551,201610,2016,10
1,17686,2414,2453,1489,2115,1363,201611,2016,11
2,15721,1832,2155,1243,1755,1553,201612,2016,12
3,11513,1507,2027,969,1382,631,201701,2017,1
35,13721,1711,2036,1193,1759,536,201702,2017,2
4,13696,1711,2036,1193,1759,536,201702,2017,2
5,18059,1932,1702,1404,1918,856,201703,2017,3
37,17042,1867,2134,1628,1455,867,201704,2017,4
6,17039,1867,2134,1628,1455,867,201704,2017,4
7,19666,2345,1942,1827,2240,1148,201705,2017,5
38,19688,2345,1942,1827,2240,1153,201705,2017,5
8,17432,2277,1948,1858,1545,858,201706,2017,6
39,17430,2277,1948,1858,1545,858,201706,2017,6
9,16979,778,2030,1761,1945,683,201707,2017,7
40,17029,778,2030,1780,1945,683,201707,2017,7
10,21393,1827,3826,1527,2187,1074,201708,2017,8
41,21390,1827,3826,1527,2187,1074,201708,2017,8
11,15152,1944,2631,1048,1764,1006,201709,2017,9
12,16549,1751,3328,1129,2698,968,201710,2017,10
13,18375,4169,2489,1199,2352,1008,201711,2017,11
14,17030,4183,1831,1127,1928,1218,201712,2017,12
15,13720,2298,2713,809,1322,759,201801,2018,1
16,19445,2210,1967,785,5496,850,201802,2018,2
17,18300,3128,1726,1378,2494,904,201803,2018,3
18,19838,3753,2689,1915,2554,860,201804,2018,4
19,19780,2547,2899,1957,1480,837,201805,2018,5
20,18684,2939,2391,2367,1865,1152,201806,2018,6

In [44]:
# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :
    TUR_all=TUR_all.reindex(columns=['United Kingdom','World','France','United States of America','Italy','Germany','Date','Year','Month'])
    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841810'})
    TUR_all['TUR_GBR_841810-1'] = TUR_all['TUR_GBR_841810'].shift(1)
    TUR_all['TUR_GBR_841810-2'] = TUR_all['TUR_GBR_841810'].shift(2)
    TUR_all['TUR_GBR_841810-3'] = TUR_all['TUR_GBR_841810'].shift(3)
    TUR_all['TUR_GBR_841810-6'] = TUR_all['TUR_GBR_841810'].shift(6)
    TUR_all['TUR_GBR_841810-12'] = TUR_all['TUR_GBR_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841810'})
    TUR_all['TUR_World_841810-1']=TUR_all['TUR_World_841810'].shift(1)
    TUR_all['TUR_World_841810-2']=TUR_all['TUR_World_841810'].shift(2)
    TUR_all['TUR_World_841810-3']= TUR_all['TUR_World_841810'].shift(3)
    TUR_all['TUR_World_841810-6']=TUR_all['TUR_World_841810'].shift(6)
    TUR_all['TUR_World_841810-12']=TUR_all['TUR_World_841810'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841810'})
    TUR_all['TUR_USA_841810-1'] = TUR_all['TUR_USA_841810'].shift(1)
    TUR_all['TUR_USA_841810-2'] = TUR_all['TUR_USA_841810'].shift(2)
    TUR_all['TUR_USA_841810-3'] = TUR_all['TUR_USA_841810'].shift(3)
    TUR_all['TUR_USA_841810-6'] = TUR_all['TUR_USA_841810'].shift(6)
    TUR_all['TUR_USA_841810-12'] = TUR_all['TUR_USA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns={'Germany':'TUR_DEU_841810'})
    TUR_all['TUR_DEU_841810-1']=TUR_all['TUR_DEU_841810'].shift(1)
    TUR_all['TUR_DEU_841810-2']=TUR_all['TUR_DEU_841810'].shift(2)
    TUR_all['TUR_DEU_841810-3']=TUR_all['TUR_DEU_841810'].shift(3)
    TUR_all['TUR_DEU_841810-6']=TUR_all['TUR_DEU_841810'].shift(6)
    TUR_all['TUR_DEU_841810-12']=TUR_all['TUR_DEU_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841810'})
    TUR_all['TUR_FRA_841810-1'] = TUR_all['TUR_FRA_841810'].shift(1)
    TUR_all['TUR_FRA_841810-2'] = TUR_all['TUR_FRA_841810'].shift(2)
    TUR_all['TUR_FRA_841810-3'] = TUR_all['TUR_FRA_841810'].shift(3)
    TUR_all['TUR_FRA_841810-6'] = TUR_all['TUR_FRA_841810'].shift(6)
    TUR_all['TUR_FRA_841810-12'] = TUR_all['TUR_FRA_841810'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Italy':'TUR_ITA_841810'})
    TUR_all['TUR_ITA_841810-1'] = TUR_all['TUR_ITA_841810'].shift(1)
    TUR_all['TUR_ITA_841810-2'] = TUR_all['TUR_ITA_841810'].shift(2)
    TUR_all['TUR_ITA_841810-3'] = TUR_all['TUR_ITA_841810'].shift(3)
    TUR_all['TUR_ITA_841810-6'] = TUR_all['TUR_ITA_841810'].shift(6)
    TUR_all['TUR_ITA_841810-12'] = TUR_all['TUR_ITA_841810'].shift(12)
 
elif Product==841840:
    
# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
    TUR_all=TUR_all.reindex(columns=['United Kingdom','World','United States of America','Germany','France','Sweden','Date','Year','Month'])

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841840'})
    TUR_all['TUR_GBR_841840-1'] = TUR_all['TUR_GBR_841840'].shift(1)
    TUR_all['TUR_GBR_841840-2'] = TUR_all['TUR_GBR_841840'].shift(2)
    TUR_all['TUR_GBR_841840-3'] = TUR_all['TUR_GBR_841840'].shift(3)
    TUR_all['TUR_GBR_841840-6'] = TUR_all['TUR_GBR_841840'].shift(6)
    TUR_all['TUR_GBR_841840-12'] = TUR_all['TUR_GBR_841840'].shift(12)
   
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841840'})
    TUR_all['TUR_World_841840-1'] = TUR_all['TUR_World_841840'].shift(1)
    TUR_all['TUR_World_841840-2'] = TUR_all['TUR_World_841840'].shift(2)
    TUR_all['TUR_World_841840-3'] = TUR_all['TUR_World_841840'].shift(3)
    TUR_all['TUR_World_841840-6'] = TUR_all['TUR_World_841840'].shift(6)
    TUR_all['TUR_World_841840-12'] = TUR_all['TUR_World_841840'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841840'})
    TUR_all['TUR_USA_841840-1'] = TUR_all['TUR_USA_841840'].shift(1)
    TUR_all['TUR_USA_841840-2'] = TUR_all['TUR_USA_841840'].shift(2)
    TUR_all['TUR_USA_841840-3'] = TUR_all['TUR_USA_841840'].shift(3)
    TUR_all['TUR_USA_841840-6'] = TUR_all['TUR_USA_841840'].shift(6)
    TUR_all['TUR_USA_841840-12'] = TUR_all['TUR_USA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841840'})
    TUR_all['TUR_DEU_841840-1'] = TUR_all['TUR_DEU_841840'].shift(1)
    TUR_all['TUR_DEU_841840-2'] = TUR_all['TUR_DEU_841840'].shift(2)
    TUR_all['TUR_DEU_841840-3'] = TUR_all['TUR_DEU_841840'].shift(3)
    TUR_all['TUR_DEU_841840-6'] = TUR_all['TUR_DEU_841840'].shift(6)
    TUR_all['TUR_DEU_841840-12'] = TUR_all['TUR_DEU_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841840'})
    TUR_all['TUR_FRA_841840-1'] = TUR_all['TUR_FRA_841840'].shift(1)
    TUR_all['TUR_FRA_841840-2'] = TUR_all['TUR_FRA_841840'].shift(2)
    TUR_all['TUR_FRA_841840-3'] = TUR_all['TUR_FRA_841840'].shift(3)
    TUR_all['TUR_FRA_841840-6'] = TUR_all['TUR_FRA_841840'].shift(6)
    TUR_all['TUR_FRA_841840-12'] = TUR_all['TUR_FRA_841840'].shift(12)

 
    TUR_all=TUR_all.rename(columns = {'Sweden':'TUR_SWE_841840'})
    TUR_all['TUR_SWE_841840-1'] = TUR_all['TUR_SWE_841840'].shift(1)
    TUR_all['TUR_SWE_841840-2'] = TUR_all['TUR_SWE_841840'].shift(2)
    TUR_all['TUR_SWE_841840-3'] = TUR_all['TUR_SWE_841840'].shift(3)
    TUR_all['TUR_SWE_841840-6'] = TUR_all['TUR_SWE_841840'].shift(6)
    TUR_all['TUR_SWE_841840-12'] = TUR_all['TUR_SWE_841840'].shift(12)



# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all.reindex(columns=['United Kingdom','World','Germany','Iraq','Saudi Arabia','Netherlands','Date','Year','Month'])

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841850'})
    TUR_all['TUR_GBR_841850-1'] = TUR_all['TUR_GBR_841850'].shift(1)
    TUR_all['TUR_GBR_841850-2'] = TUR_all['TUR_GBR_841850'].shift(2)
    TUR_all['TUR_GBR_841850-3'] = TUR_all['TUR_GBR_841850'].shift(3)
    TUR_all['TUR_GBR_841850-6'] = TUR_all['TUR_GBR_841850'].shift(6)
    TUR_all['TUR_GBR_841850-12'] = TUR_all['TUR_GBR_841850'].shift(12)
    
        
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841850'})
    TUR_all['TUR_World_841850-1'] = TUR_all['TUR_World_841850'].shift(1)
    TUR_all['TUR_World_841850-2'] = TUR_all['TUR_World_841850'].shift(2)
    TUR_all['TUR_World_841850-3'] = TUR_all['TUR_World_841850'].shift(3)
    TUR_all['TUR_World_841850-6'] = TUR_all['TUR_World_841850'].shift(6)
    TUR_all['TUR_World_841850-12'] = TUR_all['TUR_World_841850'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841850'})
    TUR_all['TUR_DEU_841850-1'] = TUR_all['TUR_DEU_841850'].shift(1)
    TUR_all['TUR_DEU_841850-2'] = TUR_all['TUR_DEU_841850'].shift(2)
    TUR_all['TUR_DEU_841850-3'] = TUR_all['TUR_DEU_841850'].shift(3)
    TUR_all['TUR_DEU_841850-6'] = TUR_all['TUR_DEU_841850'].shift(6)
    TUR_all['TUR_DEU_841850-12'] = TUR_all['TUR_DEU_841850'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Iraq':'TUR_IRQ_841850'})
    TUR_all['TUR_IRQ_841850-1'] = TUR_all['TUR_IRQ_841850'].shift(1)
    TUR_all['TUR_IRQ_841850-2'] = TUR_all['TUR_IRQ_841850'].shift(2)
    TUR_all['TUR_IRQ_841850-3'] = TUR_all['TUR_IRQ_841850'].shift(3)
    TUR_all['TUR_IRQ_841850-6'] = TUR_all['TUR_IRQ_841850'].shift(6)
    TUR_all['TUR_IRQ_841850-12'] = TUR_all['TUR_IRQ_841850'].shift(12)


    TUR_all=TUR_all.rename(columns = {'Saudi Arabia':'TUR_SAU_841850'})
    TUR_all['TUR_SAU_841850-1'] = TUR_all['TUR_SAU_841850'].shift(1)
    TUR_all['TUR_SAU_841850-2'] = TUR_all['TUR_SAU_841850'].shift(2)
    TUR_all['TUR_SAU_841850-3'] = TUR_all['TUR_SAU_841850'].shift(3)
    TUR_all['TUR_SAU_841850-6'] = TUR_all['TUR_SAU_841850'].shift(6)
    TUR_all['TUR_SAU_841850-12'] = TUR_all['TUR_SAU_841850'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Netherlands':'TUR_NLD_841850'})
    TUR_all['TUR_NLD_841850-1'] = TUR_all['TUR_NLD_841850'].shift(1)
    TUR_all['TUR_NLD_841850-2'] = TUR_all['TUR_NLD_841850'].shift(2)
    TUR_all['TUR_NLD_841850-3'] = TUR_all['TUR_NLD_841850'].shift(3)
    TUR_all['TUR_NLD_841850-6'] = TUR_all['TUR_NLD_841850'].shift(6)
    TUR_all['TUR_NLD_841850-12'] = TUR_all['TUR_NLD_841850'].shift(12)

In [45]:
#TUR_all=TUR_all.dropna()
TUR_all.to_excel('{}_TUR_all.xlsx'.format(Product),index = False)