In [25]:
import numpy as np
import pandas as pd
Product=841810

In [26]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
Turkey_16 = pd.read_csv('{}-2016-Turkey.txt'.format(Product),sep='\t')
Turkey_14 = pd.read_csv('{}-2014-Turkey.txt'.format(Product),sep='\t')
Turkey_12 = pd.read_csv('{}-2012-Turkey.txt'.format(Product),sep='\t')
Turkey_11 = pd.read_csv('{}-2011-Turkey.txt'.format(Product),sep='\t')
Turkey_09 = pd.read_csv('{}-2009-Turkey.txt'.format(Product),sep='\t')
Turkey_08 = pd.read_csv('{}-2008-Turkey.txt'.format(Product),sep='\t')
Turkey_06 = pd.read_csv('{}-2006-Turkey.txt'.format(Product),sep='\t')

In [27]:
#Butun Importer bilgisine gore birlestirilir.
TUR_all = Turkey_16.merge(Turkey_14, 
                        on = 'Importers',how = 'left').merge(Turkey_12,
                        on = 'Importers',how = 'left').merge(Turkey_11, 
                        on = 'Importers',how = 'left').merge(Turkey_09,
                        on = 'Importers',how = 'left').merge(Turkey_08, 
                        on = 'Importers',how = 'left').merge(Turkey_06, 
                        on = 'Importers',how = 'left')

In [28]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
TUR_all['Importers'].unique()

array(['World', 'United Kingdom', 'Germany', 'Italy', 'France', 'Israel',
       'Spain', 'Morocco', 'United States of America', 'Algeria', 'Greece',
       'Sweden', 'Iraq', 'Romania', 'Egypt', 'China', 'Poland',
       'Netherlands', 'Iran, Islamic Republic of', 'Argentina', 'Portugal',
       'Canada', 'Ukraine', 'Serbia', 'Georgia', 'United Arab Emirates',
       'Belgium', 'Bulgaria', 'Czech Republic', 'Denmark', 'Ethiopia',
       'Azerbaijan', 'India', 'Tunisia', 'Cyprus', 'Croatia',
       'Russian Federation', 'Australia', 'Pakistan',
       'Macedonia, The Former Yugoslav Republic of', 'Ireland', 'Austria',
       'Saudi Arabia', 'Hungary', 'Bosnia and Herzegovina', 'Free Zones',
       'Slovenia', 'Jordan', 'Syrian Arab Republic', 'New Zealand',
       'Finland', 'Senegal', 'Switzerland', 'Yemen', 'Turkmenistan',
       'Albania', 'Kuwait', 'Lebanon', 'Malta', 'Uruguay', 'Viet Nam',
       'Gabon', 'South Africa', 'Uzbekistan', 'Singapore', 'Estonia',
       'Gambia', 'Mexico', 'Paraguay', 'Hong Kong, China', 'Kenya',
       'Kazakhstan', 'Philippines', 'Malaysia', 'Guyana',
       'Saint Vincent and the Grenadines', 'Benin', 'Djibouti',
       'Mauritania', 'Moldova, Republic of', 'Guinea', 'Tajikistan',
       'Montenegro', 'Mauritius', 'Tanzania, United Republic of',
       'Kyrgyzstan', 'Ghana', 'Dominican Republic', 'Sri Lanka', 'Fiji',
       "Côte d'Ivoire", 'Togo', 'Maldives', 'Qatar', 'Brunei Darussalam',
       'Bahrain', 'Cameroon', 'Thailand', 'Slovakia', 'Sudan',
       'Mozambique', 'Oman', 'Norway', 'Afghanistan', 'Latvia',
       'Lithuania', 'Nigeria', 'Somalia', 'Burkina Faso',
       'Venezuela, Bolivarian Republic of', 'Wallis and Futuna Islands',
       'Uganda', 'Sierra Leone', 'Sudan (before 2012)', 'Niger', 'Peru',
       'Guinea-Bissau', 'Rwanda', 'Saint Lucia', 'Nepal',
       'Netherlands Antilles', 'Aruba', 'New Caledonia', 'Mali',
       'Taipei, Chinese', 'Mongolia', 'Liberia', 'Libya, State of',
       'Korea, Republic of', 'Japan', 'Palestine, State of', 'Iceland',
       'Bangladesh', 'Myanmar', 'Belarus', 'Brazil',
       'Bolivia, Plurinational State of', 'Ecuador', 'Equatorial Guinea',
       'Chile', 'Cabo Verde', 'Central African Republic', 'Colombia',
       'Congo', 'Congo, Democratic Republic of the'], dtype=object)

In [29]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar


# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Italy')
   | (TUR_all['Importers']=='France')
   | (TUR_all['Importers']=='United States of America') 
    )].transpose().reset_index()


# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
elif Product==841840:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
    | (TUR_all['Importers']=='United Kingdom')
    | (TUR_all['Importers']=='United States of America') 
    | (TUR_all['Importers']=='France')
    | (TUR_all['Importers']=='Germany')
    | (TUR_all['Importers']=='Sweden')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='Iraq')
   | (TUR_all['Importers']=='Saudi Arabia')
   | (TUR_all['Importers']=='Netherlands')
    )].transpose().reset_index()

In [30]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
TUR_all.columns = TUR_all.iloc[0]
TUR_all=TUR_all.reindex(TUR_all.index.drop(0))
TUR_all=TUR_all.dropna()
TUR_all.loc[:, 'Date'] = 0
TUR_all=TUR_all.drop_duplicates('World')

In [31]:
TUR_all

,Importers,World,United Kingdom,Germany,Italy,France,United States of America,Date
1,Exported value in 2016-M01_x,37385,7440,5951,2626,2448,2467,0
2,Exported value in 2016-M02,70974,9601,14349,5751,5073,3831,0
3,Exported value in 2016-M03,79212,9244,15669,8053,5552,4201,0
4,Exported value in 2016-M04,85003,9243,13671,8240,4708,6460,0
5,Exported value in 2016-M05,84843,11577,9661,8035,6933,4582,0
6,Exported value in 2016-M06,99539,11138,9549,7552,7890,6562,0
7,Exported value in 2016-M07,67001,6276,6754,4576,4489,2850,0
8,Exported value in 2016-M08,93711,13450,10792,6546,8237,4565,0
9,Exported value in 2016-M09,69114,9977,12451,4866,3958,4133,0
10,Exported value in 2016-M10,69627,10952,9359,5982,3843,5774,0
11,Exported value in 2016-M11,61826,10677,6050,4017,3562,5627,0
12,Exported value in 2016-M12,66666,8971,6439,3510,3875,4611,0
13,Exported value in 2017-M01,40694,6554,7658,4559,2723,2726,0
14,Exported value in 2017-M02,58612,7754,9207,6021,3097,3852,0
15,Exported value in 2017-M03,75367,6264,9220,5400,4583,5424,0
16,Exported value in 2017-M04,69554,6228,8826,5189,5392,4455,0
17,Exported value in 2017-M05,88383,8058,12734,6806,5890,4612,0
18,Exported value in 2017-M06,89084,10765,8682,7589,7012,6670,0
19,Exported value in 2017-M07,85128,8186,9178,8947,6235,3273,0
20,Exported value in 2017-M08,101747,14531,13066,11142,5684,3577,0
22,Exported value in 2014-M06_x,85070,16536,9313,5261,8262,3979,0
23,Exported value in 2014-M07,84030,18120,12786,4900,8195,5771,0
24,Exported value in 2014-M08,65018,14919,10946,3141,6421,3321,0
25,Exported value in 2014-M09,74041,17789,13975,2785,5146,5726,0
26,Exported value in 2014-M10,66629,13338,10734,3833,4755,4572,0
27,Exported value in 2014-M11,61973,11807,6301,2916,5474,4407,0
28,Exported value in 2014-M12,66638,9400,9183,2923,5533,4278,0
29,Exported value in 2015-M01,44943,7199,7603,2515,3560,3622,0
30,Exported value in 2015-M02,51416,7518,5676,3107,4416,5417,0
31,Exported value in 2015-M03,56500,8651,7017,3107,5832,5393,0
...,...,...,...,...,...,...,...,...
114,Exported value in 2008-M10,19169,4048,144,117,1581,82,0
115,Exported value in 2008-M11,13894,3860,334,104,1345,60,0
116,Exported value in 2008-M12,13064,3381,310,0,973,107,0
117,Exported value in 2009-M01,10277,1945,140,26,684,133,0
118,Exported value in 2009-M02,8590,1240,109,64,851,55,0
119,Exported value in 2009-M03,16245,4215,211,21,1181,145,0
120,Exported value in 2009-M04,12015,4060,270,55,1433,134,0
121,Exported value in 2009-M05,15604,3808,181,46,1531,28,0
122,Exported value in 2009-M06,18899,5951,87,40,1712,66,0
123,Exported value in 2009-M07,19800,6497,206,128,1944,316,0
124,Exported value in 2009-M08,15926,4371,24,32,1308,121,0
127,Exported value in 2006-M07,1175,10,0,0,0,0,0
128,Exported value in 2006-M08,1371,15,0,0,12,0,0
129,Exported value in 2006-M09,672,93,0,0,0,0,0
130,Exported value in 2006-M10,2057,246,0,0,10,0,0
131,Exported value in 2006-M11,17353,7548,146,8,1150,0,0
132,Exported value in 2006-M12,17955,5796,496,78,933,1,0
133,Exported value in 2007-M01,14170,6397,245,23,527,2,0
134,Exported value in 2007-M02,16731,6030,123,36,756,0,0
135,Exported value in 2007-M03,23045,6373,714,59,1985,0,0
136,Exported value in 2007-M04,22497,6893,309,63,2096,131,0
137,Exported value in 2007-M05,24496,6122,54,60,2904,0,0
138,Exported value in 2007-M06,21741,4507,69,113,2292,97,0
139,Exported value in 2007-M07,17664,2382,121,43,1437,101,0
140,Exported value in 2007-M08,18100,3673,117,124,1458,50,0
141,Exported value in 2007-M09,17491,4907,52,85,969,0,0
142,Exported value in 2007-M10,23756,6694,179,89,1043,125,0
143,Exported value in 2007-M11,25570,7148,95,72,1553,49,0
144,Exported value in 2007-M12,20082,4496,131,52,2177,45,0
145,Exported value in 2008-M01,12126,2687,105,134,802,0,0

In [32]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [33]:
for num in range(0,TUR_all.shape[0]):
    TUR_all.iloc[num,7]=finddate(TUR_all.iloc[num,0])

In [34]:
TUR_all.drop('Importers',axis=1,inplace=True)
TUR_all=TUR_all.sort_values(by='Date', ascending=1)

In [35]:
# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841810'})
    TUR_all['TUR_World_841810-1']=TUR_all['TUR_World_841810'].shift(1)
    TUR_all['TUR_World_841810-2']=TUR_all['TUR_World_841810'].shift(2)
    TUR_all['TUR_World_841810-3']= TUR_all['TUR_World_841810'].shift(3)
    TUR_all['TUR_World_841810-6']=TUR_all['TUR_World_841810'].shift(6)
    TUR_all['TUR_World_841810-12']=TUR_all['TUR_World_841810'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841810'})
    TUR_all['TUR_USA_841810-1'] = TUR_all['TUR_USA_841810'].shift(1)
    TUR_all['TUR_USA_841810-2'] = TUR_all['TUR_USA_841810'].shift(2)
    TUR_all['TUR_USA_841810-3'] = TUR_all['TUR_USA_841810'].shift(3)
    TUR_all['TUR_USA_841810-6'] = TUR_all['TUR_USA_841810'].shift(6)
    TUR_all['TUR_USA_841810-12'] = TUR_all['TUR_USA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns={'Germany':'TUR_DEU_841810'})
    TUR_all['TUR_DEU_841810-1']=TUR_all['TUR_DEU_841810'].shift(1)
    TUR_all['TUR_DEU_841810-2']=TUR_all['TUR_DEU_841810'].shift(2)
    TUR_all['TUR_DEU_841810-3']=TUR_all['TUR_DEU_841810'].shift(3)
    TUR_all['TUR_DEU_841810-6']=TUR_all['TUR_DEU_841810'].shift(6)
    TUR_all['TUR_DEU_841810-12']=TUR_all['TUR_DEU_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841810'})
    TUR_all['TUR_FRA_841810-1'] = TUR_all['TUR_FRA_841810'].shift(1)
    TUR_all['TUR_FRA_841810-2'] = TUR_all['TUR_FRA_841810'].shift(2)
    TUR_all['TUR_FRA_841810-3'] = TUR_all['TUR_FRA_841810'].shift(3)
    TUR_all['TUR_FRA_841810-6'] = TUR_all['TUR_FRA_841810'].shift(6)
    TUR_all['TUR_FRA_841810-12'] = TUR_all['TUR_FRA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841810'})
    TUR_all['TUR_GBR_841810-1'] = TUR_all['TUR_GBR_841810'].shift(1)
    TUR_all['TUR_GBR_841810-2'] = TUR_all['TUR_GBR_841810'].shift(2)
    TUR_all['TUR_GBR_841810-3'] = TUR_all['TUR_GBR_841810'].shift(3)
    TUR_all['TUR_GBR_841810-6'] = TUR_all['TUR_GBR_841810'].shift(6)
    TUR_all['TUR_GBR_841810-12'] = TUR_all['TUR_GBR_841810'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Italy':'TUR_ITA_841810'})
    TUR_all['TUR_ITA_841810-1'] = TUR_all['TUR_ITA_841810'].shift(1)
    TUR_all['TUR_ITA_841810-2'] = TUR_all['TUR_ITA_841810'].shift(2)
    TUR_all['TUR_ITA_841810-3'] = TUR_all['TUR_ITA_841810'].shift(3)
    TUR_all['TUR_ITA_841810-6'] = TUR_all['TUR_ITA_841810'].shift(6)
    TUR_all['TUR_ITA_841810-12'] = TUR_all['TUR_ITA_841810'].shift(12)
 
elif Product==841840:
    
# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden

    
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841840'})
    TUR_all['TUR_World_841840-1'] = TUR_all['TUR_World_841840'].shift(1)
    TUR_all['TUR_World_841840-2'] = TUR_all['TUR_World_841840'].shift(2)
    TUR_all['TUR_World_841840-3'] = TUR_all['TUR_World_841840'].shift(3)
    TUR_all['TUR_World_841840-6'] = TUR_all['TUR_World_841840'].shift(6)
    TUR_all['TUR_World_841840-12'] = TUR_all['TUR_World_841840'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841840'})
    TUR_all['TUR_USA_841840-1'] = TUR_all['TUR_USA_841840'].shift(1)
    TUR_all['TUR_USA_841840-2'] = TUR_all['TUR_USA_841840'].shift(2)
    TUR_all['TUR_USA_841840-3'] = TUR_all['TUR_USA_841840'].shift(3)
    TUR_all['TUR_USA_841840-6'] = TUR_all['TUR_USA_841840'].shift(6)
    TUR_all['TUR_USA_841840-12'] = TUR_all['TUR_USA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841840'})
    TUR_all['TUR_DEU_841840-1'] = TUR_all['TUR_DEU_841840'].shift(1)
    TUR_all['TUR_DEU_841840-2'] = TUR_all['TUR_DEU_841840'].shift(2)
    TUR_all['TUR_DEU_841840-3'] = TUR_all['TUR_DEU_841840'].shift(3)
    TUR_all['TUR_DEU_841840-6'] = TUR_all['TUR_DEU_841840'].shift(6)
    TUR_all['TUR_DEU_841840-12'] = TUR_all['TUR_DEU_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841840'})
    TUR_all['TUR_FRA_841840-1'] = TUR_all['TUR_FRA_841840'].shift(1)
    TUR_all['TUR_FRA_841840-2'] = TUR_all['TUR_FRA_841840'].shift(2)
    TUR_all['TUR_FRA_841840-3'] = TUR_all['TUR_FRA_841840'].shift(3)
    TUR_all['TUR_FRA_841840-6'] = TUR_all['TUR_FRA_841840'].shift(6)
    TUR_all['TUR_FRA_841840-12'] = TUR_all['TUR_FRA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841840'})
    TUR_all['TUR_GBR_841840-1'] = TUR_all['TUR_GBR_841840'].shift(1)
    TUR_all['TUR_GBR_841840-2'] = TUR_all['TUR_GBR_841840'].shift(2)
    TUR_all['TUR_GBR_841840-3'] = TUR_all['TUR_GBR_841840'].shift(3)
    TUR_all['TUR_GBR_841840-6'] = TUR_all['TUR_GBR_841840'].shift(6)
    TUR_all['TUR_GBR_841840-12'] = TUR_all['TUR_GBR_841840'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Sweden':'TUR_SWE_841840'})
    TUR_all['TUR_SWE_841840-1'] = TUR_all['TUR_SWE_841840'].shift(1)
    TUR_all['TUR_SWE_841840-2'] = TUR_all['TUR_SWE_841840'].shift(2)
    TUR_all['TUR_SWE_841840-3'] = TUR_all['TUR_SWE_841840'].shift(3)
    TUR_all['TUR_SWE_841840-6'] = TUR_all['TUR_SWE_841840'].shift(6)
    TUR_all['TUR_SWE_841840-12'] = TUR_all['TUR_SWE_841840'].shift(12)



# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841850'})
    TUR_all['TUR_World_841850-1'] = TUR_all['TUR_World_841850'].shift(1)
    TUR_all['TUR_World_841850-2'] = TUR_all['TUR_World_841850'].shift(2)
    TUR_all['TUR_World_841850-3'] = TUR_all['TUR_World_841850'].shift(3)
    TUR_all['TUR_World_841850-6'] = TUR_all['TUR_World_841850'].shift(6)
    TUR_all['TUR_World_841850-12'] = TUR_all['TUR_World_841850'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841850'})
    TUR_all['TUR_GBR_841850-1'] = TUR_all['TUR_GBR_841850'].shift(1)
    TUR_all['TUR_GBR_841850-2'] = TUR_all['TUR_GBR_841850'].shift(2)
    TUR_all['TUR_GBR_841850-3'] = TUR_all['TUR_GBR_841850'].shift(3)
    TUR_all['TUR_GBR_841850-6'] = TUR_all['TUR_GBR_841850'].shift(6)
    TUR_all['TUR_GBR_841850-12'] = TUR_all['TUR_GBR_841850'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841850'})
    TUR_all['TUR_DEU_841850-1'] = TUR_all['TUR_DEU_841850'].shift(1)
    TUR_all['TUR_DEU_841850-2'] = TUR_all['TUR_DEU_841850'].shift(2)
    TUR_all['TUR_DEU_841850-3'] = TUR_all['TUR_DEU_841850'].shift(3)
    TUR_all['TUR_DEU_841850-6'] = TUR_all['TUR_DEU_841850'].shift(6)
    TUR_all['TUR_DEU_841850-12'] = TUR_all['TUR_DEU_841850'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Iraq':'TUR_IRQ_841850'})
    TUR_all['TUR_IRQ_841850-1'] = TUR_all['TUR_IRQ_841850'].shift(1)
    TUR_all['TUR_IRQ_841850-2'] = TUR_all['TUR_IRQ_841850'].shift(2)
    TUR_all['TUR_IRQ_841850-3'] = TUR_all['TUR_IRQ_841850'].shift(3)
    TUR_all['TUR_IRQ_841850-6'] = TUR_all['TUR_IRQ_841850'].shift(6)
    TUR_all['TUR_IRQ_841850-12'] = TUR_all['TUR_IRQ_841850'].shift(12)


    TUR_all=TUR_all.rename(columns = {'Saudi Arabia':'TUR_SAU_841850'})
    TUR_all['TUR_SAU_841850-1'] = TUR_all['TUR_SAU_841850'].shift(1)
    TUR_all['TUR_SAU_841850-2'] = TUR_all['TUR_SAU_841850'].shift(2)
    TUR_all['TUR_SAU_841850-3'] = TUR_all['TUR_SAU_841850'].shift(3)
    TUR_all['TUR_SAU_841850-6'] = TUR_all['TUR_SAU_841850'].shift(6)
    TUR_all['TUR_SAU_841850-12'] = TUR_all['TUR_SAU_841850'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Netherlands':'TUR_NLD_841850'})
    TUR_all['TUR_NLD_841850-1'] = TUR_all['TUR_NLD_841850'].shift(1)
    TUR_all['TUR_NLD_841850-2'] = TUR_all['TUR_NLD_841850'].shift(2)
    TUR_all['TUR_NLD_841850-3'] = TUR_all['TUR_NLD_841850'].shift(3)
    TUR_all['TUR_NLD_841850-6'] = TUR_all['TUR_NLD_841850'].shift(6)
    TUR_all['TUR_NLD_841850-12'] = TUR_all['TUR_NLD_841850'].shift(12)

In [36]:
TUR_all=TUR_all.dropna()
TUR_all.to_excel('{}_TUR_all.xlsx'.format(Product),index = False)