In [28]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850
Product=841850

In [29]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
Turkey_17 = pd.read_csv('Turkey Export Data\{}-2017-Turkey.txt'.format(Product),sep='\t')
Turkey_16 = pd.read_csv('Turkey Export Data\{}-2016-Turkey.txt'.format(Product),sep='\t')
Turkey_14 = pd.read_csv('Turkey Export Data\{}-2014-Turkey.txt'.format(Product),sep='\t')
Turkey_12 = pd.read_csv('Turkey Export Data\{}-2012-Turkey.txt'.format(Product),sep='\t')
Turkey_11 = pd.read_csv('Turkey Export Data\{}-2011-Turkey.txt'.format(Product),sep='\t')
Turkey_09 = pd.read_csv('Turkey Export Data\{}-2009-Turkey.txt'.format(Product),sep='\t')
Turkey_08 = pd.read_csv('Turkey Export Data\{}-2008-Turkey.txt'.format(Product),sep='\t')
Turkey_06 = pd.read_csv('Turkey Export Data\{}-2006-Turkey.txt'.format(Product),sep='\t')

In [30]:
#Butun Importer bilgisine gore birlestirilir.
TUR_all = Turkey_17.merge(Turkey_16, 
                        on = 'Importers',how = 'left').merge(Turkey_14,
                        on = 'Importers',how = 'left').merge(Turkey_12,
                        on = 'Importers',how = 'left').merge(Turkey_11, 
                        on = 'Importers',how = 'left').merge(Turkey_09,
                        on = 'Importers',how = 'left').merge(Turkey_08, 
                        on = 'Importers',how = 'left').merge(Turkey_06, 
                        on = 'Importers',how = 'left')

In [31]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
TUR_all['Importers'].unique()

array(['World', 'United Kingdom', 'Iraq', 'Italy', 'Germany',
       'Netherlands', 'United States of America', 'Georgia', 'Azerbaijan',
       'Saudi Arabia', 'Poland', 'Russian Federation', 'Israel', 'Spain',
       'Bangladesh', 'Bulgaria', 'United Arab Emirates', 'France',
       'Ethiopia', 'Romania', 'Serbia', 'Ireland', 'Uzbekistan',
       'Morocco', 'Egypt', 'Algeria', 'India', 'Czech Republic',
       'Denmark', 'Belgium', 'Kazakhstan', 'South Africa', 'Croatia',
       'Qatar', 'Bosnia and Herzegovina', 'Jordan', 'Libya, State of',
       'Cyprus', 'Switzerland', 'Ukraine', 'Hungary', 'Kuwait', 'Albania',
       'Korea, Republic of', 'Malaysia', 'Kyrgyzstan', 'Greece', 'Oman',
       'Sweden', 'Lebanon', 'Macedonia, The Former Yugoslav Republic of',
       'Tajikistan', 'Ecuador', 'Chile', 'China', 'Australia',
       'Moldova, Republic of', 'Iran, Islamic Republic of', 'Tunisia',
       'Nigeria', 'Portugal', 'Senegal', 'Japan', 'Bahrain', 'Finland',
       'Togo', 'Syrian Arab Republic', 'Montenegro', 'Pakistan',
       'Austria', 'Mauritius', 'Slovenia', 'Norway', 'Indonesia',
       'New Zealand', 'Slovakia', 'Canada', 'Colombia', 'Belarus',
       'Central African Republic', 'Free Zones', 'Malta', 'Ghana',
       'Taipei, Chinese', 'Turkmenistan', 'Malawi', 'Latvia', 'Sri Lanka',
       'Afghanistan', 'Angola', 'Cameroon', 'Brazil', 'Brunei Darussalam',
       'Bhutan', 'Bolivia, Plurinational State of', 'Chad', 'Congo',
       'Congo, Democratic Republic of the', 'Costa Rica',
       'Equatorial Guinea', 'Estonia', 'Fiji', 'Benin', 'Liberia',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Kenya', "Côte d'Ivoire",
       'Iceland', 'Guatemala', 'Guinea', 'Honduras', 'Hong Kong, China',
       'Djibouti', 'Gabon', 'Gambia', 'Palestine, State of', 'Mexico',
       'Mauritania', 'Maldives', 'Mali', 'Mozambique', 'Nepal',
       'New Caledonia', 'Niger', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Rwanda', 'Uganda', 'Trinidad and Tobago',
       'Tanzania, United Republic of', 'Yemen', 'Zambia', 'Burkina Faso',
       'Uruguay', 'Viet Nam', 'Somalia', 'Singapore', 'Seychelles',
       'Sierra Leone', 'Thailand', 'Sudan', 'Sudan (before 2012)'],
      dtype=object)

In [32]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar


# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Italy')
   | (TUR_all['Importers']=='France')
   | (TUR_all['Importers']=='United States of America') 
    )].transpose().reset_index()


# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
elif Product==841840:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
    | (TUR_all['Importers']=='United Kingdom')
    | (TUR_all['Importers']=='United States of America') 
    | (TUR_all['Importers']=='France')
    | (TUR_all['Importers']=='Germany')
    | (TUR_all['Importers']=='Sweden')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='Iraq')
   | (TUR_all['Importers']=='Saudi Arabia')
   | (TUR_all['Importers']=='Netherlands')
    )].transpose().reset_index()

In [33]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
TUR_all.columns = TUR_all.iloc[0]
TUR_all=TUR_all.reindex(TUR_all.index.drop(0))

#TUR_all=TUR_all.dropna()

TUR_all.loc[:, 'Date'] = 0

i=TUR_all[TUR_all['Importers'].str.contains("Unnamed")==True].index
TUR_all.drop(i,inplace=True)

TUR_all=TUR_all.drop_duplicates('World')

In [34]:
TUR_all

,Importers,World,United Kingdom,Iraq,Germany,Netherlands,Saudi Arabia,Date
1,Exported value in 2016-M11_x,16805,2088,691,961,840,408,0
2,Exported value in 2016-M12_x,14726,1508,1363,823,398,707,0
3,Exported value in 2017-M01_x,14843,988,1782,1014,614,2157,0
4,Exported value in 2017-M02_x,18093,1744,1250,1263,366,1258,0
5,Exported value in 2017-M03_x,28956,1449,1963,1824,829,1800,0
6,Exported value in 2017-M04_x,26253,2005,2396,1618,509,1541,0
7,Exported value in 2017-M05_x,28822,3223,3212,1631,1214,1167,0
8,Exported value in 2017-M06_x,26245,3533,2223,1485,948,860,0
9,Exported value in 2017-M07_x,23663,3165,2143,1058,586,791,0
10,Exported value in 2017-M08_x,22642,3990,1595,1569,1337,529,0
11,Exported value in 2017-M09,14706,2159,517,1101,704,169,0
12,Exported value in 2017-M10,17372,2352,423,1122,1381,425,0
13,Exported value in 2017-M11,20144,2010,742,1287,672,650,0
14,Exported value in 2017-M12,17864,1557,1698,851,655,688,0
15,Exported value in 2018-M01,20099,1924,1444,1320,1225,349,0
16,Exported value in 2018-M02,23990,1422,2090,1826,1430,997,0
17,Exported value in 2018-M03,31405,1315,1559,1691,1320,1136,0
18,Exported value in 2018-M04,30385,1471,545,1794,1463,1026,0
19,Exported value in 2018-M05,29300,1555,1160,1741,2194,642,0
20,Exported value in 2018-M06,26375,2438,2328,1423,1247,868,0
22,Exported value in 2016-M01_x,13935,1310,495,490,681,547,0
23,Exported value in 2016-M02,20803,894,1396,1025,814,2111,0
24,Exported value in 2016-M03,24922,2320,559,1579,773,508,0
25,Exported value in 2016-M04,26209,545,1325,1872,678,1468,0
26,Exported value in 2016-M05,28687,2481,1383,1841,921,1149,0
27,Exported value in 2016-M06,26961,2800,2027,1576,935,1227,0
28,Exported value in 2016-M07,19661,1951,1316,1147,732,1086,0
29,Exported value in 2016-M08,19363,3215,1915,1273,1019,1004,0
30,Exported value in 2016-M09,14150,2816,854,1108,1365,622,0
31,Exported value in 2016-M10,15523,3662,1117,1273,1117,493,0
...,...,...,...,...,...,...,...,...
135,Exported value in 2008-M10,7409,1005,350,470,550,96,0
136,Exported value in 2008-M11,6094,737,308,673,580,62,0
137,Exported value in 2008-M12,5182,653,441,424,267,213,0
138,Exported value in 2009-M01,6918,654,623,583,254,299,0
139,Exported value in 2009-M02,8829,884,1135,687,608,3,0
140,Exported value in 2009-M03,18332,852,1552,853,179,491,0
141,Exported value in 2009-M04,16482,1563,871,806,154,83,0
142,Exported value in 2009-M05,15769,1073,463,874,483,433,0
143,Exported value in 2009-M06,14795,2084,952,918,544,135,0
144,Exported value in 2009-M07,14395,2302,508,868,1240,134,0
145,Exported value in 2009-M08,13540,2280,892,910,950,120,0
148,Exported value in 2006-M07,8244,949,68,793,81,30,0
149,Exported value in 2006-M08,7032,853,61,422,102,26,0
150,Exported value in 2006-M09,5350,1280,2,182,32,15,0
151,Exported value in 2006-M10,3558,384,146,220,44,16,0
152,Exported value in 2006-M11,5837,762,77,313,136,264,0
153,Exported value in 2006-M12,6426,892,45,201,23,10,0
154,Exported value in 2007-M01,9188,826,54,750,4,29,0
155,Exported value in 2007-M02,17940,1920,35,590,279,8,0
156,Exported value in 2007-M03,22362,3496,208,1194,209,84,0
157,Exported value in 2007-M04,12342,1712,341,653,117,0,0
158,Exported value in 2007-M05,15477,2820,342,667,148,2,0
159,Exported value in 2007-M06,12729,3252,177,1105,52,25,0
160,Exported value in 2007-M07,11359,3235,139,757,155,2,0
161,Exported value in 2007-M08,9186,2254,127,541,130,42,0
162,Exported value in 2007-M09,7030,2102,151,519,61,75,0
163,Exported value in 2007-M10,5125,1700,76,600,84,0,0
164,Exported value in 2007-M11,4982,1686,20,119,41,173,0
165,Exported value in 2007-M12,7830,617,23,317,102,83,0
166,Exported value in 2008-M01,13653,2924,112,595,84,0,0

In [35]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [36]:
for num in range(0,TUR_all.shape[0]):
    TUR_all.iloc[num,7]=finddate(TUR_all.iloc[num,0])

In [37]:
TUR_all.drop('Importers',axis=1,inplace=True)
TUR_all=TUR_all.sort_values(by='Date', ascending=1)

In [38]:
# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841810'})
    TUR_all['TUR_World_841810-1']=TUR_all['TUR_World_841810'].shift(1)
    TUR_all['TUR_World_841810-2']=TUR_all['TUR_World_841810'].shift(2)
    TUR_all['TUR_World_841810-3']= TUR_all['TUR_World_841810'].shift(3)
    TUR_all['TUR_World_841810-6']=TUR_all['TUR_World_841810'].shift(6)
    TUR_all['TUR_World_841810-12']=TUR_all['TUR_World_841810'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841810'})
    TUR_all['TUR_USA_841810-1'] = TUR_all['TUR_USA_841810'].shift(1)
    TUR_all['TUR_USA_841810-2'] = TUR_all['TUR_USA_841810'].shift(2)
    TUR_all['TUR_USA_841810-3'] = TUR_all['TUR_USA_841810'].shift(3)
    TUR_all['TUR_USA_841810-6'] = TUR_all['TUR_USA_841810'].shift(6)
    TUR_all['TUR_USA_841810-12'] = TUR_all['TUR_USA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns={'Germany':'TUR_DEU_841810'})
    TUR_all['TUR_DEU_841810-1']=TUR_all['TUR_DEU_841810'].shift(1)
    TUR_all['TUR_DEU_841810-2']=TUR_all['TUR_DEU_841810'].shift(2)
    TUR_all['TUR_DEU_841810-3']=TUR_all['TUR_DEU_841810'].shift(3)
    TUR_all['TUR_DEU_841810-6']=TUR_all['TUR_DEU_841810'].shift(6)
    TUR_all['TUR_DEU_841810-12']=TUR_all['TUR_DEU_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841810'})
    TUR_all['TUR_FRA_841810-1'] = TUR_all['TUR_FRA_841810'].shift(1)
    TUR_all['TUR_FRA_841810-2'] = TUR_all['TUR_FRA_841810'].shift(2)
    TUR_all['TUR_FRA_841810-3'] = TUR_all['TUR_FRA_841810'].shift(3)
    TUR_all['TUR_FRA_841810-6'] = TUR_all['TUR_FRA_841810'].shift(6)
    TUR_all['TUR_FRA_841810-12'] = TUR_all['TUR_FRA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841810'})
    TUR_all['TUR_GBR_841810-1'] = TUR_all['TUR_GBR_841810'].shift(1)
    TUR_all['TUR_GBR_841810-2'] = TUR_all['TUR_GBR_841810'].shift(2)
    TUR_all['TUR_GBR_841810-3'] = TUR_all['TUR_GBR_841810'].shift(3)
    TUR_all['TUR_GBR_841810-6'] = TUR_all['TUR_GBR_841810'].shift(6)
    TUR_all['TUR_GBR_841810-12'] = TUR_all['TUR_GBR_841810'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Italy':'TUR_ITA_841810'})
    TUR_all['TUR_ITA_841810-1'] = TUR_all['TUR_ITA_841810'].shift(1)
    TUR_all['TUR_ITA_841810-2'] = TUR_all['TUR_ITA_841810'].shift(2)
    TUR_all['TUR_ITA_841810-3'] = TUR_all['TUR_ITA_841810'].shift(3)
    TUR_all['TUR_ITA_841810-6'] = TUR_all['TUR_ITA_841810'].shift(6)
    TUR_all['TUR_ITA_841810-12'] = TUR_all['TUR_ITA_841810'].shift(12)
 
elif Product==841840:
    
# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden

    
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841840'})
    TUR_all['TUR_World_841840-1'] = TUR_all['TUR_World_841840'].shift(1)
    TUR_all['TUR_World_841840-2'] = TUR_all['TUR_World_841840'].shift(2)
    TUR_all['TUR_World_841840-3'] = TUR_all['TUR_World_841840'].shift(3)
    TUR_all['TUR_World_841840-6'] = TUR_all['TUR_World_841840'].shift(6)
    TUR_all['TUR_World_841840-12'] = TUR_all['TUR_World_841840'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841840'})
    TUR_all['TUR_USA_841840-1'] = TUR_all['TUR_USA_841840'].shift(1)
    TUR_all['TUR_USA_841840-2'] = TUR_all['TUR_USA_841840'].shift(2)
    TUR_all['TUR_USA_841840-3'] = TUR_all['TUR_USA_841840'].shift(3)
    TUR_all['TUR_USA_841840-6'] = TUR_all['TUR_USA_841840'].shift(6)
    TUR_all['TUR_USA_841840-12'] = TUR_all['TUR_USA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841840'})
    TUR_all['TUR_DEU_841840-1'] = TUR_all['TUR_DEU_841840'].shift(1)
    TUR_all['TUR_DEU_841840-2'] = TUR_all['TUR_DEU_841840'].shift(2)
    TUR_all['TUR_DEU_841840-3'] = TUR_all['TUR_DEU_841840'].shift(3)
    TUR_all['TUR_DEU_841840-6'] = TUR_all['TUR_DEU_841840'].shift(6)
    TUR_all['TUR_DEU_841840-12'] = TUR_all['TUR_DEU_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841840'})
    TUR_all['TUR_FRA_841840-1'] = TUR_all['TUR_FRA_841840'].shift(1)
    TUR_all['TUR_FRA_841840-2'] = TUR_all['TUR_FRA_841840'].shift(2)
    TUR_all['TUR_FRA_841840-3'] = TUR_all['TUR_FRA_841840'].shift(3)
    TUR_all['TUR_FRA_841840-6'] = TUR_all['TUR_FRA_841840'].shift(6)
    TUR_all['TUR_FRA_841840-12'] = TUR_all['TUR_FRA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841840'})
    TUR_all['TUR_GBR_841840-1'] = TUR_all['TUR_GBR_841840'].shift(1)
    TUR_all['TUR_GBR_841840-2'] = TUR_all['TUR_GBR_841840'].shift(2)
    TUR_all['TUR_GBR_841840-3'] = TUR_all['TUR_GBR_841840'].shift(3)
    TUR_all['TUR_GBR_841840-6'] = TUR_all['TUR_GBR_841840'].shift(6)
    TUR_all['TUR_GBR_841840-12'] = TUR_all['TUR_GBR_841840'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Sweden':'TUR_SWE_841840'})
    TUR_all['TUR_SWE_841840-1'] = TUR_all['TUR_SWE_841840'].shift(1)
    TUR_all['TUR_SWE_841840-2'] = TUR_all['TUR_SWE_841840'].shift(2)
    TUR_all['TUR_SWE_841840-3'] = TUR_all['TUR_SWE_841840'].shift(3)
    TUR_all['TUR_SWE_841840-6'] = TUR_all['TUR_SWE_841840'].shift(6)
    TUR_all['TUR_SWE_841840-12'] = TUR_all['TUR_SWE_841840'].shift(12)



# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841850'})
    TUR_all['TUR_World_841850-1'] = TUR_all['TUR_World_841850'].shift(1)
    TUR_all['TUR_World_841850-2'] = TUR_all['TUR_World_841850'].shift(2)
    TUR_all['TUR_World_841850-3'] = TUR_all['TUR_World_841850'].shift(3)
    TUR_all['TUR_World_841850-6'] = TUR_all['TUR_World_841850'].shift(6)
    TUR_all['TUR_World_841850-12'] = TUR_all['TUR_World_841850'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841850'})
    TUR_all['TUR_GBR_841850-1'] = TUR_all['TUR_GBR_841850'].shift(1)
    TUR_all['TUR_GBR_841850-2'] = TUR_all['TUR_GBR_841850'].shift(2)
    TUR_all['TUR_GBR_841850-3'] = TUR_all['TUR_GBR_841850'].shift(3)
    TUR_all['TUR_GBR_841850-6'] = TUR_all['TUR_GBR_841850'].shift(6)
    TUR_all['TUR_GBR_841850-12'] = TUR_all['TUR_GBR_841850'].shift(12)
    
    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841850'})
    TUR_all['TUR_DEU_841850-1'] = TUR_all['TUR_DEU_841850'].shift(1)
    TUR_all['TUR_DEU_841850-2'] = TUR_all['TUR_DEU_841850'].shift(2)
    TUR_all['TUR_DEU_841850-3'] = TUR_all['TUR_DEU_841850'].shift(3)
    TUR_all['TUR_DEU_841850-6'] = TUR_all['TUR_DEU_841850'].shift(6)
    TUR_all['TUR_DEU_841850-12'] = TUR_all['TUR_DEU_841850'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Iraq':'TUR_IRQ_841850'})
    TUR_all['TUR_IRQ_841850-1'] = TUR_all['TUR_IRQ_841850'].shift(1)
    TUR_all['TUR_IRQ_841850-2'] = TUR_all['TUR_IRQ_841850'].shift(2)
    TUR_all['TUR_IRQ_841850-3'] = TUR_all['TUR_IRQ_841850'].shift(3)
    TUR_all['TUR_IRQ_841850-6'] = TUR_all['TUR_IRQ_841850'].shift(6)
    TUR_all['TUR_IRQ_841850-12'] = TUR_all['TUR_IRQ_841850'].shift(12)


    TUR_all=TUR_all.rename(columns = {'Saudi Arabia':'TUR_SAU_841850'})
    TUR_all['TUR_SAU_841850-1'] = TUR_all['TUR_SAU_841850'].shift(1)
    TUR_all['TUR_SAU_841850-2'] = TUR_all['TUR_SAU_841850'].shift(2)
    TUR_all['TUR_SAU_841850-3'] = TUR_all['TUR_SAU_841850'].shift(3)
    TUR_all['TUR_SAU_841850-6'] = TUR_all['TUR_SAU_841850'].shift(6)
    TUR_all['TUR_SAU_841850-12'] = TUR_all['TUR_SAU_841850'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Netherlands':'TUR_NLD_841850'})
    TUR_all['TUR_NLD_841850-1'] = TUR_all['TUR_NLD_841850'].shift(1)
    TUR_all['TUR_NLD_841850-2'] = TUR_all['TUR_NLD_841850'].shift(2)
    TUR_all['TUR_NLD_841850-3'] = TUR_all['TUR_NLD_841850'].shift(3)
    TUR_all['TUR_NLD_841850-6'] = TUR_all['TUR_NLD_841850'].shift(6)
    TUR_all['TUR_NLD_841850-12'] = TUR_all['TUR_NLD_841850'].shift(12)

In [39]:
TUR_all=TUR_all.dropna()
TUR_all.to_excel('{}_TUR_all.xlsx'.format(Product),index = False)