In [62]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850

Product=841810

In [63]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
China_16 = pd.read_csv('China Export Data\{}-2016-China.txt'.format(Product),sep='\t')
China_15 = pd.read_csv('China Export Data\{}-2015-China.txt'.format(Product),sep='\t')
China_14 = pd.read_csv('China Export Data\{}-2014-China.txt'.format(Product),sep='\t')
China_12 = pd.read_csv('China Export Data\{}-2012-China.txt'.format(Product),sep='\t')
China_11 = pd.read_csv('China Export Data\{}-2011-China.txt'.format(Product),sep='\t')
China_09 = pd.read_csv('China Export Data\{}-2009-China.txt'.format(Product),sep='\t')
China_07 = pd.read_csv('China Export Data\{}-2007-China.txt'.format(Product),sep='\t')
China_06 = pd.read_csv('China Export Data\{}-2006-China.txt'.format(Product),sep='\t')

In [64]:
#Butun Importer bilgisine gore birlestirilir.
China_all = China_16.merge(China_15, 
                        on = 'Importers',how = 'left').merge(China_14,
                        on = 'Importers',how = 'left').merge(China_12,
                        on = 'Importers',how = 'left').merge(China_11, 
                        on = 'Importers',how = 'left').merge(China_09,
                        on = 'Importers',how = 'left').merge(China_07, 
                        on = 'Importers',how = 'left').merge(China_06, 
                        on = 'Importers',how = 'left')

In [65]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
China_all['Importers'].unique()

array(['World', 'United States of America', 'Japan', 'France',
       'Australia', 'United Kingdom', 'Poland', 'Germany', 'Viet Nam',
       'South Africa', 'Spain', 'Russian Federation', 'Chile',
       'Netherlands', 'Canada', 'Korea, Republic of', 'Iraq', 'Italy',
       'Singapore', 'India', 'United Arab Emirates', 'Hong Kong, China',
       'Saudi Arabia', 'Peru', 'Colombia', 'Philippines', 'Portugal',
       'Argentina', 'Israel', 'Indonesia', 'Iran, Islamic Republic of',
       'New Zealand', 'Nigeria', 'Bangladesh', 'Greece',
       'Taipei, Chinese', 'Mexico', 'Djibouti', 'Malaysia', 'Belgium',
       "Côte d'Ivoire", 'Venezuela, Bolivarian Republic of', 'Paraguay',
       'Ethiopia', 'Myanmar', 'Mongolia', 'Dominican Republic', 'Ecuador',
       'Uzbekistan', 'Sweden', 'Panama', 'Somalia', 'Brazil', 'Kuwait',
       'Kenya', 'Pakistan', 'Angola', 'Ghana', 'Hungary',
       'Libya, State of', 'Uruguay', 'Romania', 'Lithuania', 'Egypt',
       'Kyrgyzstan', 'Turkey', 'Armenia', 'Ukraine', 'Cyprus',
       'Tanzania, United Republic of', 'Honduras', 'Jamaica',
       'Kazakhstan', 'Madagascar', 'Jordan', 'Thailand', 'Guatemala',
       'Senegal', 'Mauritius', 'Bolivia, Plurinational State of', 'Fiji',
       'Lebanon', 'Denmark', 'Sri Lanka', 'Czech Republic', 'Oman',
       'Azerbaijan', "Korea, Democratic People's Republic of",
       'Turkmenistan', 'Tunisia', 'Haiti', 'Tajikistan', 'El Salvador',
       'Ireland', 'Slovakia', 'Algeria', 'Bulgaria',
       'Bosnia and Herzegovina', 'Palestine, State of', 'Suriname',
       'Switzerland', 'Cameroon', 'Albania', 'Nepal', 'Costa Rica',
       'Malta', 'Afghanistan', 'Congo, Democratic Republic of the',
       'Serbia', 'Trinidad and Tobago', 'Georgia', 'Finland', 'Yemen',
       'Nicaragua', 'Mozambique', 'Cabo Verde', 'Sudan', 'Qatar',
       'Guinea', 'French Polynesia', 'Congo', 'Iceland',
       'Brunei Darussalam', 'Latvia', 'Bahrain', 'Moldova, Republic of',
       'Burundi', 'Zambia', "Lao People's Democratic Republic", 'Belize',
       'Mali', 'Uganda', 'Seychelles', 'Morocco', 'Papua New Guinea',
       'Barbados', 'Liberia', 'Estonia', 'Croatia', 'Guyana', 'Slovenia',
       'Sint Maarten (Dutch part)', 'Vanuatu', 'Gambia', 'Gabon',
       'Marshall Islands', 'Macao, China', 'Benin', 'Chad',
       'Sao Tome and Principe', 'South Sudan', 'Zimbabwe', 'Comoros',
       'Cambodia', 'Maldives', 'Togo', 'Tonga', 'Sudan (before 2012)',
       'Syrian Arab Republic', 'Swaziland', 'Sierra Leone', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Wallis and Futuna Islands', 'Samoa',
       'Macedonia, The Former Yugoslav Republic of', 'Burkina Faso',
       'Mauritania', 'Montenegro', 'Malawi', 'Norway',
       'Micronesia, Federated States of', 'Guinea-Bissau', 'Timor-Leste',
       'Bonaire, Sint Eustatius and Saba', 'New Caledonia', 'Niger',
       'Netherlands Antilles', 'Curaçao', 'Aruba', 'Namibia',
       'Solomon Islands', 'British Virgin Islands',
       'Central African Republic', 'Austria', 'Bahamas', 'Botswana',
       'Antigua and Barbuda', 'Dominica', 'Cuba', 'Cook Islands',
       'Eritrea', 'Equatorial Guinea', 'Kiribati', 'Grenada'],
      dtype=object)

In [66]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar

# 841810 için ilk 5 ülke
#'World', 'United States of America', 'Japan', 'France',
#       'United Kingdom', 'Australia'
if Product==841810 :

    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
    )].transpose().reset_index()

# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
elif Product==841840:
    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Germany')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
elif Product==841850:


    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
   | (China_all['Importers']=='Italy')
   | (China_all['Importers']=='Indonesia')
    )].transpose().reset_index()

In [67]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
China_all.columns = China_all.iloc[0]
China_all=China_all.reindex(China_all.index.drop(0))

#China_all=China_all.dropna()

China_all.loc[:, 'Date'] = 0

i=China_all[China_all['Importers'].str.contains("Unnamed")==True].index
China_all.drop(i,inplace=True)

China_all=China_all.drop_duplicates('World')

In [68]:
China_all

,Importers,World,United States of America,Japan,France,Australia,United Kingdom,Date
1,Exported value in 2016-M05_x,212307,35684,20954,14666,8119,11324,0
2,Exported value in 2016-M06_x,213386,39903,33665,12920,5374,12515,0
3,Exported value in 2016-M07_x,205978,33292,35600,9407,6381,11273,0
4,Exported value in 2016-M08_x,196242,29492,24241,9009,8144,13443,0
5,Exported value in 2016-M09_x,187071,40129,21424,9859,8143,10695,0
6,Exported value in 2016-M10_x,174329,35445,21753,7136,10752,12567,0
7,Exported value in 2016-M11_x,202012,40289,21040,9447,11103,13908,0
8,Exported value in 2016-M12_x,175358,28289,15556,7521,8118,12372,0
9,Exported value in 2017-M01_x,173270,29779,20518,7691,8432,12786,0
10,Exported value in 2017-M02_x,175086,24395,26540,9432,6980,12007,0
11,Exported value in 2017-M03_x,237169,29347,35208,16301,7731,12493,0
12,Exported value in 2017-M04_x,232929,37600,23154,9601,9110,8924,0
13,Exported value in 2017-M05_x,279943,46635,28575,17172,11333,12955,0
14,Exported value in 2017-M06,273219,45745,35525,14448,8418,13279,0
15,Exported value in 2017-M07,250030,34123,41151,14366,6686,13762,0
16,Exported value in 2017-M08,246910,36842,28446,10792,8962,17149,0
17,Exported value in 2017-M09,236032,41637,30823,8706,9206,16072,0
18,Exported value in 2017-M10,206469,39061,13724,10964,11640,17063,0
19,Exported value in 2017-M11,218433,35783,21023,9481,9489,16218,0
20,Exported value in 2017-M12,201919,30844,18014,12252,12027,11329,0
22,Exported value in 2015-M10_x,160784,31062,17278,8887,7501,11724,0
23,Exported value in 2015-M11,130916,18097,18760,7376,6663,8194,0
24,Exported value in 2015-M12,145970,18097,23545,7246,5492,9131,0
25,Exported value in 2016-M01,128798,17175,20103,7220,4495,7424,0
26,Exported value in 2016-M02,126459,18999,16992,6667,5061,9675,0
27,Exported value in 2016-M03,173392,24809,25545,9344,5041,11692,0
28,Exported value in 2016-M04,180267,24354,22014,12457,5818,9773,0
43,Exported value in 2014-M03_x,169133,24477,38766,7106,4527,7955,0
44,Exported value in 2014-M04,192807,39876,29457,9745,5661,16958,0
45,Exported value in 2014-M05,203747,37733,30057,9799,4719,11482,0
...,...,...,...,...,...,...,...,...
135,Exported value in 2008-M07,117602,3002,27744,5539,2063,11231,0
136,Exported value in 2008-M08,134396,3891,36104,3437,3416,7539,0
137,Exported value in 2008-M09,139049,5017,38378,2984,2935,6107,0
138,Exported value in 2008-M10,112977,4059,22055,2099,1371,5892,0
139,Exported value in 2008-M11,99372,3953,29228,4109,3316,7033,0
140,Exported value in 2008-M12,91195,2068,31984,5035,2242,3566,0
141,Exported value in 2009-M01,83625,3890,22426,4553,2337,3057,0
142,Exported value in 2009-M02,81682,2260,30893,3448,2276,1759,0
143,Exported value in 2009-M03,106290,6839,32139,4869,2090,4468,0
144,Exported value in 2009-M04,101485,4401,23216,8092,1219,3991,0
145,Exported value in 2009-M05,105728,8081,19925,11163,1376,3900,0
148,Exported value in 2006-M04,42475,6824,3220,1613,2481,2323,0
149,Exported value in 2006-M05,54651,5409,3295,1306,1591,5824,0
150,Exported value in 2006-M06,66944,8078,7718,3155,1332,7874,0
151,Exported value in 2006-M07,57512,6333,9027,3350,956,7287,0
152,Exported value in 2006-M08,70024,5606,8616,3292,1863,14050,0
153,Exported value in 2006-M09,79249,5591,12463,1949,2902,8070,0
154,Exported value in 2006-M10,82839,4183,9143,2481,2506,12617,0
155,Exported value in 2006-M11,66038,2719,14604,2275,2635,7766,0
156,Exported value in 2006-M12,56805,4196,13562,1700,4547,9841,0
157,Exported value in 2007-M01,52470,5746,10616,2091,2751,4094,0
158,Exported value in 2007-M02,62917,3665,9222,2109,1823,7378,0
159,Exported value in 2007-M03,81204,3162,14500,6631,846,5818,0
160,Exported value in 2007-M04,84891,6191,14624,3209,2356,5785,0
161,Exported value in 2007-M05,86921,4939,18533,3493,1059,5587,0
162,Exported value in 2007-M06,101190,5094,27530,1230,2124,5617,0
163,Exported value in 2007-M07,108648,6113,29484,1985,2566,8591,0
164,Exported value in 2007-M08,110799,8083,25243,2544,2466,11770,0
165,Exported value in 2007-M09,108539,7047,23456,1476,1948,7401,0
166,Exported value in 2007-M10,85600,5412,8377,2006,2146,6729,0

In [69]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [70]:
for num in range(0,China_all.shape[0]):
    China_all.iloc[num,7]=finddate(China_all.iloc[num,0])

In [71]:
China_all.drop('Importers',axis=1,inplace=True)
China_all=China_all.sort_values(by='Date', ascending=1)

In [72]:
if Product==841810 :
# 841810 için ilk 5 ülke
#'World', 'United States of AmeriWorld, 'Japan', 'France',
#       'United Kingdom', 'AustraWorld'
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Australia','Date'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841810'})
    China_all['CHN_GBR_841810-1'] = China_all['CHN_GBR_841810'].shift(1)
    China_all['CHN_GBR_841810-2'] = China_all['CHN_GBR_841810'].shift(2)
    China_all['CHN_GBR_841810-3'] = China_all['CHN_GBR_841810'].shift(3)
    China_all['CHN_GBR_841810-6'] = China_all['CHN_GBR_841810'].shift(6)
    China_all['CHN_GBR_841810-12'] = China_all['CHN_GBR_841810'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841810'})
    China_all['CHN_World_841810-1'] = China_all['CHN_World_841810'].shift(1)
    China_all['CHN_World_841810-2'] = China_all['CHN_World_841810'].shift(2)
    China_all['CHN_World_841810-3'] = China_all['CHN_World_841810'].shift(3)
    China_all['CHN_World_841810-6'] = China_all['CHN_World_841810'].shift(6)
    China_all['CHN_World_841810-12'] = China_all['CHN_World_841810'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841810'})
    China_all['CHN_USA_841810-1'] = China_all['CHN_USA_841810'].shift(1)
    China_all['CHN_USA_841810-2'] = China_all['CHN_USA_841810'].shift(2)
    China_all['CHN_USA_841810-3'] = China_all['CHN_USA_841810'].shift(3)
    China_all['CHN_USA_841810-6'] = China_all['CHN_USA_841810'].shift(6)
    China_all['CHN_USA_841810-12'] = China_all['CHN_USA_841810'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841810'})
    China_all['CHN_JPN_841810-1'] = China_all['CHN_JPN_841810'].shift(1)
    China_all['CHN_JPN_841810-2'] = China_all['CHN_JPN_841810'].shift(2)
    China_all['CHN_JPN_841810-3'] = China_all['CHN_JPN_841810'].shift(3)
    China_all['CHN_JPN_841810-6'] = China_all['CHN_JPN_841810'].shift(6)
    China_all['CHN_JPN_841810-12'] = China_all['CHN_JPN_841810'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841810'})
    China_all['CHN_FRA_841810-1'] = China_all['CHN_FRA_841810'].shift(1)
    China_all['CHN_FRA_841810-2'] = China_all['CHN_FRA_841810'].shift(2)
    China_all['CHN_FRA_841810-3'] = China_all['CHN_FRA_841810'].shift(3)
    China_all['CHN_FRA_841810-6'] = China_all['CHN_FRA_841810'].shift(6)
    China_all['CHN_FRA_841810-12'] = China_all['CHN_FRA_841810'].shift(12)

    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841810'})
    China_all['CHN_AUS_841810-1'] = China_all['CHN_AUS_841810'].shift(1)
    China_all['CHN_AUS_841810-2'] = China_all['CHN_AUS_841810'].shift(2)
    China_all['CHN_AUS_841810-3'] = China_all['CHN_AUS_841810'].shift(3)
    China_all['CHN_AUS_841810-6'] = China_all['CHN_AUS_841810'].shift(6)
    China_all['CHN_AUS_841810-12'] = China_all['CHN_AUS_841810'].shift(12)
    
elif Product==841840:
# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Germany','Date'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841840'})
    China_all['CHN_GBR_841840-1'] = China_all['CHN_GBR_841840'].shift(1)
    China_all['CHN_GBR_841840-2'] = China_all['CHN_GBR_841840'].shift(2)
    China_all['CHN_GBR_841840-3'] = China_all['CHN_GBR_841840'].shift(3)
    China_all['CHN_GBR_841840-6'] = China_all['CHN_GBR_841840'].shift(6)
    China_all['CHN_GBR_841840-12'] = China_all['CHN_GBR_841840'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841840'})
    China_all['CHN_World_841840-1'] = China_all['CHN_World_841840'].shift(1)
    China_all['CHN_World_841840-2'] = China_all['CHN_World_841840'].shift(2)
    China_all['CHN_World_841840-3'] = China_all['CHN_World_841840'].shift(3)
    China_all['CHN_World_841840-6'] = China_all['CHN_World_841840'].shift(6)
    China_all['CHN_World_841840-12'] = China_all['CHN_World_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841840'})
    China_all['CHN_USA_841840-1'] = China_all['CHN_USA_841840'].shift(1)
    China_all['CHN_USA_841840-2'] = China_all['CHN_USA_841840'].shift(2)
    China_all['CHN_USA_841840-3'] = China_all['CHN_USA_841840'].shift(3)
    China_all['CHN_USA_841840-6'] = China_all['CHN_USA_841840'].shift(6)
    China_all['CHN_USA_841840-12'] = China_all['CHN_USA_841840'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841840'})
    China_all['CHN_JPN_841840-1'] = China_all['CHN_JPN_841840'].shift(1)
    China_all['CHN_JPN_841840-2'] = China_all['CHN_JPN_841840'].shift(2)
    China_all['CHN_JPN_841840-3'] = China_all['CHN_JPN_841840'].shift(3)
    China_all['CHN_JPN_841840-6'] = China_all['CHN_JPN_841840'].shift(6)
    China_all['CHN_JPN_841840-12'] = China_all['CHN_JPN_841840'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841840'})
    China_all['CHN_FRA_841840-1'] = China_all['CHN_FRA_841840'].shift(1)
    China_all['CHN_FRA_841840-2'] = China_all['CHN_FRA_841840'].shift(2)
    China_all['CHN_FRA_841840-3'] = China_all['CHN_FRA_841840'].shift(3)
    China_all['CHN_FRA_841840-6'] = China_all['CHN_FRA_841840'].shift(6)
    China_all['CHN_FRA_841840-12'] = China_all['CHN_FRA_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'Germany':'CHN_DEU_841840'})
    China_all['CHN_DEU_841840-1'] = China_all['CHN_DEU_841840'].shift(1)
    China_all['CHN_DEU_841840-2'] = China_all['CHN_DEU_841840'].shift(2)
    China_all['CHN_DEU_841840-3'] = China_all['CHN_DEU_841840'].shift(3)
    China_all['CHN_DEU_841840-6'] = China_all['CHN_DEU_841840'].shift(6)
    China_all['CHN_DEU_841840-12'] = China_all['CHN_DEU_841840'].shift(12)
    
elif Product==841850:
    
# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Australia', 'Italy','Indonesia','Date'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841850'})
    China_all['CHN_GBR_841850-1'] = China_all['CHN_GBR_841850'].shift(1)
    China_all['CHN_GBR_841850-2'] = China_all['CHN_GBR_841850'].shift(2)
    China_all['CHN_GBR_841850-3'] = China_all['CHN_GBR_841850'].shift(3)
    China_all['CHN_GBR_841850-6'] = China_all['CHN_GBR_841850'].shift(6)
    China_all['CHN_GBR_841850-12'] = China_all['CHN_GBR_841850'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841850'})
    China_all['CHN_World_841850-1'] = China_all['CHN_World_841850'].shift(1)
    China_all['CHN_World_841850-2'] = China_all['CHN_World_841850'].shift(2)
    China_all['CHN_World_841850-3'] = China_all['CHN_World_841850'].shift(3)
    China_all['CHN_World_841850-6'] = China_all['CHN_World_841850'].shift(6)
    China_all['CHN_World_841850-12'] = China_all['CHN_World_841850'].shift(12)

    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841850'})
    China_all['CHN_USA_841850-1'] = China_all['CHN_USA_841850'].shift(1)
    China_all['CHN_USA_841850-2'] = China_all['CHN_USA_841850'].shift(2)
    China_all['CHN_USA_841850-3'] = China_all['CHN_USA_841850'].shift(3)
    China_all['CHN_USA_841850-6'] = China_all['CHN_USA_841850'].shift(6)
    China_all['CHN_USA_841850-12'] = China_all['CHN_USA_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841850'})
    China_all['CHN_AUS_841850-1'] = China_all['CHN_AUS_841850'].shift(1)
    China_all['CHN_AUS_841850-2'] = China_all['CHN_AUS_841850'].shift(2)
    China_all['CHN_AUS_841850-3'] = China_all['CHN_AUS_841850'].shift(3)
    China_all['CHN_AUS_841850-6'] = China_all['CHN_AUS_841850'].shift(6)
    China_all['CHN_AUS_841850-12'] = China_all['CHN_AUS_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Italy':'CHN_ITA_841850'})
    China_all['CHN_ITA_841850-1'] = China_all['CHN_ITA_841850'].shift(1)
    China_all['CHN_ITA_841850-2'] = China_all['CHN_ITA_841850'].shift(2)
    China_all['CHN_ITA_841850-3'] = China_all['CHN_ITA_841850'].shift(3)
    China_all['CHN_ITA_841850-6'] = China_all['CHN_ITA_841850'].shift(6)
    China_all['CHN_ITA_841850-12'] = China_all['CHN_ITA_841850'].shift(12)

    China_all=China_all.rename(columns = {'Indonesia':'CHN_IDN_841850'})
    China_all['CHN_IDN_841850-1'] = China_all['CHN_IDN_841850'].shift(1)
    China_all['CHN_IDN_841850-2'] = China_all['CHN_IDN_841850'].shift(2)
    China_all['CHN_IDN_841850-3'] = China_all['CHN_IDN_841850'].shift(3)
    China_all['CHN_IDN_841850-6'] = China_all['CHN_IDN_841850'].shift(6)
    China_all['CHN_IDN_841850-12'] = China_all['CHN_IDN_841850'].shift(12)

In [73]:

#China_all=China_all.dropna()
China_all.to_excel('{}_CHN_all.xlsx'.format(Product),index = False)