In [25]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850

Product=841840

In [26]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
China_16 = pd.read_csv('China Export Data\{}-2016-China.txt'.format(Product),sep='\t')
China_15 = pd.read_csv('China Export Data\{}-2015-China.txt'.format(Product),sep='\t')
China_14 = pd.read_csv('China Export Data\{}-2014-China.txt'.format(Product),sep='\t')
China_12 = pd.read_csv('China Export Data\{}-2012-China.txt'.format(Product),sep='\t')
China_11 = pd.read_csv('China Export Data\{}-2011-China.txt'.format(Product),sep='\t')
China_09 = pd.read_csv('China Export Data\{}-2009-China.txt'.format(Product),sep='\t')
China_07 = pd.read_csv('China Export Data\{}-2007-China.txt'.format(Product),sep='\t')
China_06 = pd.read_csv('China Export Data\{}-2006-China.txt'.format(Product),sep='\t')

In [27]:
#Butun Importer bilgisine gore birlestirilir.
China_all = China_16.merge(China_15, 
                        on = 'Importers',how = 'left').merge(China_14,
                        on = 'Importers',how = 'left').merge(China_12,
                        on = 'Importers',how = 'left').merge(China_11, 
                        on = 'Importers',how = 'left').merge(China_09,
                        on = 'Importers',how = 'left').merge(China_07, 
                        on = 'Importers',how = 'left').merge(China_06, 
                        on = 'Importers',how = 'left')

In [28]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
China_all['Importers'].unique()

array(['World', 'United States of America', 'Australia', 'United Kingdom',
       'Germany', 'France', 'Canada', 'Netherlands', 'Saudi Arabia',
       'Japan', 'Taipei, Chinese', 'Spain', 'Italy', 'Korea, Republic of',
       'New Zealand', 'Belgium', 'Israel', 'Poland', 'Hong Kong, China',
       'Czech Republic', 'India', 'Egypt', 'Russian Federation', 'Sweden',
       'Ukraine', 'Romania', 'Philippines', 'United Arab Emirates',
       'Singapore', 'Kuwait', 'Indonesia', 'Denmark', 'Malaysia',
       'Ireland', 'Viet Nam', 'Argentina', 'Congo', 'Paraguay',
       'Switzerland', 'Portugal', 'Armenia', 'Nigeria', 'Ghana',
       'Hungary', 'Greece', 'Bulgaria',
       'Venezuela, Bolivarian Republic of', 'Mexico', 'Myanmar',
       'Austria', 'Peru', "Côte d'Ivoire", 'Slovenia', 'Lebanon',
       'Uruguay', 'Brazil', 'Libya, State of',
       'Tanzania, United Republic of', 'Thailand', 'Iraq', 'Colombia',
       'Turkey', 'Honduras', 'Palestine, State of', 'Morocco', 'Senegal',
       'Georgia', 'French Polynesia', 'Bangladesh', 'Pakistan', 'Niger',
       'Finland', 'Togo', 'Papua New Guinea', 'Iran, Islamic Republic of',
       'Chile', 'Estonia', 'Panama', 'Guinea-Bissau',
       'Moldova, Republic of', 'Kenya', 'Fiji', 'Ecuador', 'Serbia',
       'Norway', 'Saint Vincent and the Grenadines', 'Madagascar',
       'Sri Lanka', 'Suriname', 'Zambia', 'Cabo Verde',
       'Sint Maarten (Dutch part)', 'Liberia', 'Maldives', 'Oman',
       'Aruba', 'Ethiopia', 'Jamaica', 'Chad', 'Macao, China',
       'Kazakhstan', 'South Africa', 'Micronesia, Federated States of',
       'Timor-Leste', 'Mozambique', 'Congo, Democratic Republic of the',
       'Angola', 'Bahrain', 'Djibouti', 'Gabon', 'Gambia', 'El Salvador',
       'Equatorial Guinea', 'Dominican Republic', 'Benin', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Barbados', 'Bhutan',
       'Bolivia, Plurinational State of', 'Botswana', 'Azerbaijan',
       'Bahamas', 'Afghanistan', 'Albania', 'Algeria', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Central African Republic',
       'Solomon Islands', 'Brunei Darussalam', 'Cambodia', 'Cameroon',
       'Namibia', 'Nepal', 'Netherlands Antilles', 'Curaçao', 'Mali',
       'Malta', 'Mauritania', 'Mauritius', 'Montenegro', 'Mongolia',
       'Jordan', "Korea, Democratic People's Republic of", 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Malawi', 'Lithuania',
       'Latvia', 'Qatar', 'Marshall Islands', 'Palau', 'New Caledonia',
       'Vanuatu', 'Nicaragua', 'Zimbabwe', 'Somalia', 'Slovakia',
       'Rwanda', 'Saint Lucia', 'Seychelles', 'Sierra Leone',
       'Burkina Faso', 'Uzbekistan', 'Samoa', 'Yemen', 'Sudan',
       'Syrian Arab Republic', 'Tajikistan', 'Trinidad and Tobago',
       'Tunisia', 'Turkmenistan', 'Uganda',
       'Macedonia, The Former Yugoslav Republic of'], dtype=object)

In [29]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar

# 841810 için ilk 5 ülke
#'World', 'United States of America', 'Japan', 'France',
#       'United Kingdom', 'Australia'
if Product==841810 :

    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
    )].transpose().reset_index()

# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
elif Product==841840:
    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Germany')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
elif Product==841850:


    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
   | (China_all['Importers']=='Italy')
   | (China_all['Importers']=='Indonesia')
    )].transpose().reset_index()

In [30]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
China_all.columns = China_all.iloc[0]
China_all=China_all.reindex(China_all.index.drop(0))

#China_all=China_all.dropna()

China_all.loc[:, 'Date'] = 0
China_all.loc[:, 'Year'] = 0
China_all.loc[:, 'Month'] = 0

i=China_all[China_all['Importers'].str.contains("Unnamed")==True].index
China_all.drop(i,inplace=True)

China_all=China_all.drop_duplicates('World')

In [31]:
China_all

,Importers,World,United States of America,United Kingdom,Germany,France,Japan,Date,Year,Month
1,Exported value in 2016-M05_x,26059,4899,1726,1216,2480,1507,0,0,0
2,Exported value in 2016-M06_x,22552,3660,1931,678,1955,1666,0,0,0
3,Exported value in 2016-M07_x,21813,4656,1699,751,1338,1724,0,0,0
4,Exported value in 2016-M08_x,20943,3749,2109,909,1441,1246,0,0,0
5,Exported value in 2016-M09_x,19131,3402,1860,738,1176,1054,0,0,0
6,Exported value in 2016-M10_x,16949,4235,1830,818,874,813,0,0,0
7,Exported value in 2016-M11_x,19992,4344,1877,898,1466,1015,0,0,0
8,Exported value in 2016-M12_x,20968,4301,1762,1080,1345,874,0,0,0
9,Exported value in 2017-M01_x,21732,5050,1641,991,1155,1121,0,0,0
10,Exported value in 2017-M02_x,16549,4379,1216,872,1020,570,0,0,0
11,Exported value in 2017-M03_x,27056,4938,1808,1405,1855,1117,0,0,0
12,Exported value in 2017-M04_x,23202,4142,1575,1116,1746,1035,0,0,0
13,Exported value in 2017-M05_x,26491,5570,1665,1916,2125,1361,0,0,0
14,Exported value in 2017-M06,30114,6591,1709,1558,2609,2055,0,0,0
15,Exported value in 2017-M07,24107,6582,1761,815,2138,1356,0,0,0
16,Exported value in 2017-M08,25699,6298,2152,2015,1685,1062,0,0,0
17,Exported value in 2017-M09,26317,8613,2187,1132,1654,959,0,0,0
18,Exported value in 2017-M10,23009,8115,2077,886,1386,840,0,0,0
19,Exported value in 2017-M11,26265,10300,1895,1061,1548,1077,0,0,0
20,Exported value in 2017-M12,24637,8181,1813,1488,1441,709,0,0,0
22,Exported value in 2015-M10_x,15960,3275,1977,642,1063,744,0,0,0
23,Exported value in 2015-M11,15527,3232,1675,615,933,874,0,0,0
24,Exported value in 2015-M12,20387,3304,1519,1440,1700,1025,0,0,0
25,Exported value in 2016-M01,15537,3517,1234,1039,868,575,0,0,0
26,Exported value in 2016-M02,14142,3352,1330,1065,687,723,0,0,0
27,Exported value in 2016-M03,19393,2614,1494,1668,1258,820,0,0,0
28,Exported value in 2016-M04,24112,3357,1373,2150,2503,1047,0,0,0
43,Exported value in 2014-M03_x,19751,3123,1000,2086,1223,1165,0,0,0
44,Exported value in 2014-M04,20980,4824,1272,1785,1571,1690,0,0,0
45,Exported value in 2014-M05,24785,4043,1899,1701,1751,2763,0,0,0
...,...,...,...,...,...,...,...,...,...,...
135,Exported value in 2008-M07,8617,833,1480,777,481,2066,0,0,0
136,Exported value in 2008-M08,8778,651,1073,397,166,2826,0,0,0
137,Exported value in 2008-M09,6468,101,877,291,353,1515,0,0,0
138,Exported value in 2008-M10,6590,75,1004,154,102,983,0,0,0
139,Exported value in 2008-M11,5930,127,439,261,217,1637,0,0,0
140,Exported value in 2008-M12,4730,15,171,92,214,928,0,0,0
141,Exported value in 2009-M01,5015,33,803,397,109,607,0,0,0
142,Exported value in 2009-M02,3291,6,399,200,195,772,0,0,0
143,Exported value in 2009-M03,6724,527,674,145,540,1055,0,0,0
144,Exported value in 2009-M04,8448,759,634,363,701,1191,0,0,0
145,Exported value in 2009-M05,8199,545,985,576,532,1727,0,0,0
148,Exported value in 2006-M04,4854,0,570,215,53,1106,0,0,0
149,Exported value in 2006-M05,4977,64,1081,53,302,790,0,0,0
150,Exported value in 2006-M06,3966,0,1138,259,101,838,0,0,0
151,Exported value in 2006-M07,7492,0,1120,51,206,3402,0,0,0
152,Exported value in 2006-M08,7614,76,2546,167,70,1774,0,0,0
153,Exported value in 2006-M09,6049,355,1316,172,326,1010,0,0,0
154,Exported value in 2006-M10,4488,259,980,284,105,726,0,0,0
155,Exported value in 2006-M11,5653,147,788,369,96,736,0,0,0
156,Exported value in 2006-M12,5068,33,1066,179,23,1189,0,0,0
157,Exported value in 2007-M01,5364,51,982,538,105,824,0,0,0
158,Exported value in 2007-M02,3881,0,1012,272,50,463,0,0,0
159,Exported value in 2007-M03,4548,29,663,722,119,595,0,0,0
160,Exported value in 2007-M04,5515,0,1011,461,339,966,0,0,0
161,Exported value in 2007-M05,6470,94,1528,345,117,1414,0,0,0
162,Exported value in 2007-M06,6144,135,953,374,151,1329,0,0,0
163,Exported value in 2007-M07,7281,105,2135,271,61,1826,0,0,0
164,Exported value in 2007-M08,9205,67,1640,707,416,1771,0,0,0
165,Exported value in 2007-M09,6669,67,1406,259,78,1444,0,0,0
166,Exported value in 2007-M10,6786,131,1702,330,316,754,0,0,0

In [32]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)
    year=int(year)
    month=int(month)

    return date, year, month

In [33]:
for num in range(0,China_all.shape[0]):
    China_all.iloc[num,7]=finddate(China_all.iloc[num,0])[0]
    China_all.iloc[num,8]=finddate(China_all.iloc[num,0])[1]
    China_all.iloc[num,9]=finddate(China_all.iloc[num,0])[2]

In [34]:
China_all.drop('Importers',axis=1,inplace=True)
China_all=China_all.sort_values(by='Date', ascending=1)

In [35]:
if Product==841810 :
# 841810 için ilk 5 ülke
#'World', 'United States of AmeriWorld, 'Japan', 'France',
#       'United Kingdom', 'AustraWorld'
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Australia','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841810'})
    China_all['CHN_GBR_841810-1'] = China_all['CHN_GBR_841810'].shift(1)
    China_all['CHN_GBR_841810-2'] = China_all['CHN_GBR_841810'].shift(2)
    China_all['CHN_GBR_841810-3'] = China_all['CHN_GBR_841810'].shift(3)
    China_all['CHN_GBR_841810-6'] = China_all['CHN_GBR_841810'].shift(6)
    China_all['CHN_GBR_841810-12'] = China_all['CHN_GBR_841810'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841810'})
    China_all['CHN_World_841810-1'] = China_all['CHN_World_841810'].shift(1)
    China_all['CHN_World_841810-2'] = China_all['CHN_World_841810'].shift(2)
    China_all['CHN_World_841810-3'] = China_all['CHN_World_841810'].shift(3)
    China_all['CHN_World_841810-6'] = China_all['CHN_World_841810'].shift(6)
    China_all['CHN_World_841810-12'] = China_all['CHN_World_841810'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841810'})
    China_all['CHN_USA_841810-1'] = China_all['CHN_USA_841810'].shift(1)
    China_all['CHN_USA_841810-2'] = China_all['CHN_USA_841810'].shift(2)
    China_all['CHN_USA_841810-3'] = China_all['CHN_USA_841810'].shift(3)
    China_all['CHN_USA_841810-6'] = China_all['CHN_USA_841810'].shift(6)
    China_all['CHN_USA_841810-12'] = China_all['CHN_USA_841810'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841810'})
    China_all['CHN_JPN_841810-1'] = China_all['CHN_JPN_841810'].shift(1)
    China_all['CHN_JPN_841810-2'] = China_all['CHN_JPN_841810'].shift(2)
    China_all['CHN_JPN_841810-3'] = China_all['CHN_JPN_841810'].shift(3)
    China_all['CHN_JPN_841810-6'] = China_all['CHN_JPN_841810'].shift(6)
    China_all['CHN_JPN_841810-12'] = China_all['CHN_JPN_841810'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841810'})
    China_all['CHN_FRA_841810-1'] = China_all['CHN_FRA_841810'].shift(1)
    China_all['CHN_FRA_841810-2'] = China_all['CHN_FRA_841810'].shift(2)
    China_all['CHN_FRA_841810-3'] = China_all['CHN_FRA_841810'].shift(3)
    China_all['CHN_FRA_841810-6'] = China_all['CHN_FRA_841810'].shift(6)
    China_all['CHN_FRA_841810-12'] = China_all['CHN_FRA_841810'].shift(12)

    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841810'})
    China_all['CHN_AUS_841810-1'] = China_all['CHN_AUS_841810'].shift(1)
    China_all['CHN_AUS_841810-2'] = China_all['CHN_AUS_841810'].shift(2)
    China_all['CHN_AUS_841810-3'] = China_all['CHN_AUS_841810'].shift(3)
    China_all['CHN_AUS_841810-6'] = China_all['CHN_AUS_841810'].shift(6)
    China_all['CHN_AUS_841810-12'] = China_all['CHN_AUS_841810'].shift(12)
    
elif Product==841840:
# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Japan','France','Germany','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841840'})
    China_all['CHN_GBR_841840-1'] = China_all['CHN_GBR_841840'].shift(1)
    China_all['CHN_GBR_841840-2'] = China_all['CHN_GBR_841840'].shift(2)
    China_all['CHN_GBR_841840-3'] = China_all['CHN_GBR_841840'].shift(3)
    China_all['CHN_GBR_841840-6'] = China_all['CHN_GBR_841840'].shift(6)
    China_all['CHN_GBR_841840-12'] = China_all['CHN_GBR_841840'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841840'})
    China_all['CHN_World_841840-1'] = China_all['CHN_World_841840'].shift(1)
    China_all['CHN_World_841840-2'] = China_all['CHN_World_841840'].shift(2)
    China_all['CHN_World_841840-3'] = China_all['CHN_World_841840'].shift(3)
    China_all['CHN_World_841840-6'] = China_all['CHN_World_841840'].shift(6)
    China_all['CHN_World_841840-12'] = China_all['CHN_World_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841840'})
    China_all['CHN_USA_841840-1'] = China_all['CHN_USA_841840'].shift(1)
    China_all['CHN_USA_841840-2'] = China_all['CHN_USA_841840'].shift(2)
    China_all['CHN_USA_841840-3'] = China_all['CHN_USA_841840'].shift(3)
    China_all['CHN_USA_841840-6'] = China_all['CHN_USA_841840'].shift(6)
    China_all['CHN_USA_841840-12'] = China_all['CHN_USA_841840'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841840'})
    China_all['CHN_JPN_841840-1'] = China_all['CHN_JPN_841840'].shift(1)
    China_all['CHN_JPN_841840-2'] = China_all['CHN_JPN_841840'].shift(2)
    China_all['CHN_JPN_841840-3'] = China_all['CHN_JPN_841840'].shift(3)
    China_all['CHN_JPN_841840-6'] = China_all['CHN_JPN_841840'].shift(6)
    China_all['CHN_JPN_841840-12'] = China_all['CHN_JPN_841840'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841840'})
    China_all['CHN_FRA_841840-1'] = China_all['CHN_FRA_841840'].shift(1)
    China_all['CHN_FRA_841840-2'] = China_all['CHN_FRA_841840'].shift(2)
    China_all['CHN_FRA_841840-3'] = China_all['CHN_FRA_841840'].shift(3)
    China_all['CHN_FRA_841840-6'] = China_all['CHN_FRA_841840'].shift(6)
    China_all['CHN_FRA_841840-12'] = China_all['CHN_FRA_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'Germany':'CHN_DEU_841840'})
    China_all['CHN_DEU_841840-1'] = China_all['CHN_DEU_841840'].shift(1)
    China_all['CHN_DEU_841840-2'] = China_all['CHN_DEU_841840'].shift(2)
    China_all['CHN_DEU_841840-3'] = China_all['CHN_DEU_841840'].shift(3)
    China_all['CHN_DEU_841840-6'] = China_all['CHN_DEU_841840'].shift(6)
    China_all['CHN_DEU_841840-12'] = China_all['CHN_DEU_841840'].shift(12)
    
elif Product==841850:
    
# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
    China_all=China_all.reindex(columns=['United Kingdom','World','United States of America','Australia', 'Italy','Indonesia','Date','Year','Month'])

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841850'})
    China_all['CHN_GBR_841850-1'] = China_all['CHN_GBR_841850'].shift(1)
    China_all['CHN_GBR_841850-2'] = China_all['CHN_GBR_841850'].shift(2)
    China_all['CHN_GBR_841850-3'] = China_all['CHN_GBR_841850'].shift(3)
    China_all['CHN_GBR_841850-6'] = China_all['CHN_GBR_841850'].shift(6)
    China_all['CHN_GBR_841850-12'] = China_all['CHN_GBR_841850'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841850'})
    China_all['CHN_World_841850-1'] = China_all['CHN_World_841850'].shift(1)
    China_all['CHN_World_841850-2'] = China_all['CHN_World_841850'].shift(2)
    China_all['CHN_World_841850-3'] = China_all['CHN_World_841850'].shift(3)
    China_all['CHN_World_841850-6'] = China_all['CHN_World_841850'].shift(6)
    China_all['CHN_World_841850-12'] = China_all['CHN_World_841850'].shift(12)

    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841850'})
    China_all['CHN_USA_841850-1'] = China_all['CHN_USA_841850'].shift(1)
    China_all['CHN_USA_841850-2'] = China_all['CHN_USA_841850'].shift(2)
    China_all['CHN_USA_841850-3'] = China_all['CHN_USA_841850'].shift(3)
    China_all['CHN_USA_841850-6'] = China_all['CHN_USA_841850'].shift(6)
    China_all['CHN_USA_841850-12'] = China_all['CHN_USA_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841850'})
    China_all['CHN_AUS_841850-1'] = China_all['CHN_AUS_841850'].shift(1)
    China_all['CHN_AUS_841850-2'] = China_all['CHN_AUS_841850'].shift(2)
    China_all['CHN_AUS_841850-3'] = China_all['CHN_AUS_841850'].shift(3)
    China_all['CHN_AUS_841850-6'] = China_all['CHN_AUS_841850'].shift(6)
    China_all['CHN_AUS_841850-12'] = China_all['CHN_AUS_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Italy':'CHN_ITA_841850'})
    China_all['CHN_ITA_841850-1'] = China_all['CHN_ITA_841850'].shift(1)
    China_all['CHN_ITA_841850-2'] = China_all['CHN_ITA_841850'].shift(2)
    China_all['CHN_ITA_841850-3'] = China_all['CHN_ITA_841850'].shift(3)
    China_all['CHN_ITA_841850-6'] = China_all['CHN_ITA_841850'].shift(6)
    China_all['CHN_ITA_841850-12'] = China_all['CHN_ITA_841850'].shift(12)

    China_all=China_all.rename(columns = {'Indonesia':'CHN_IDN_841850'})
    China_all['CHN_IDN_841850-1'] = China_all['CHN_IDN_841850'].shift(1)
    China_all['CHN_IDN_841850-2'] = China_all['CHN_IDN_841850'].shift(2)
    China_all['CHN_IDN_841850-3'] = China_all['CHN_IDN_841850'].shift(3)
    China_all['CHN_IDN_841850-6'] = China_all['CHN_IDN_841850'].shift(6)
    China_all['CHN_IDN_841850-12'] = China_all['CHN_IDN_841850'].shift(12)

In [36]:
China_all=China_all.drop_duplicates('Date')
#China_all=China_all.dropna()
China_all.to_excel('{}_CHN_all.xlsx'.format(Product),index = False)