In [21]:
import numpy as np
import pandas as pd
Product=841840

In [22]:
#'My number is: {one}, and my name is: {two}'.format(one=num,two=name)
'{}-2015-UK-Import.txt'.format(Product)

'841840-2015-UK-Import.txt'

In [23]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
UK_15 = pd.read_csv('{}-2015-UK-Import.txt'.format(Product),sep='\t')
UK_14 = pd.read_csv('{}-2014-UK-Import.txt'.format(Product),sep='\t')
UK_12 = pd.read_csv('{}-2012-UK-Import.txt'.format(Product),sep='\t')
UK_11 = pd.read_csv('{}-2011-UK-Import.txt'.format(Product),sep='\t')
UK_09 = pd.read_csv('{}-2009-UK-Import.txt'.format(Product),sep='\t')
UK_08 = pd.read_csv('{}-2008-UK-Import.txt'.format(Product),sep='\t')
UK_06 = pd.read_csv('{}-2006-UK-Import.txt'.format(Product),sep='\t')

In [24]:
#Butun Importer bilgisine gore birlestirilir.
UK_all = UK_15.merge(UK_14, 
                        on = 'Exporters',how = 'left').merge(UK_12,
                        on = 'Exporters',how = 'left').merge(UK_11, 
                        on = 'Exporters',how = 'left').merge(UK_09,
                        on = 'Exporters',how = 'left').merge(UK_08, 
                        on = 'Exporters',how = 'left').merge(UK_06, 
                        on = 'Exporters',how = 'left')

In [26]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
UK_all['Exporters'].unique()

array(['World', 'China', 'Turkey', 'Germany', 'Netherlands', 'Hungary',
       'Italy', 'Mexico', 'United States of America', 'Bulgaria', 'Spain',
       'Viet Nam', 'Ireland', 'Denmark', 'Austria', 'Malaysia', 'Slovenia',
       'Norway', 'Poland', 'Singapore', 'Sweden', 'Switzerland',
       'Thailand', 'Belgium', 'Australia', 'France', 'Czech Republic',
       'Korea, Republic of', 'Iceland', 'Greece', 'Hong Kong, China'], dtype=object)

In [27]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar
# 841810 için ilk 5 ülke
#'World', 'China', 'Poland', 'Turkey', 'Korea, Republic of', 'Italy'
if Product==841810 :
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Poland') 
   | (UK_all['Exporters']=='Korea, Republic of')
   | (UK_all['Exporters']=='Italy')
    )].transpose().reset_index()
# 841840 için ilk 5 ülke
#''World', 'China', 'Turkey', 'Germany', 'Netherlands', 'Hungary',
elif Product==841840:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Germany') 
   | (UK_all['Exporters']=='Netherlands')
   | (UK_all['Exporters']=='Hungary')
    )].transpose().reset_index()

# 841850 için ilk 5 ülke
#'World', 'China', 'Turkey', 'Austria', 'Czech Republic', 'Italy',
#       

elif Product==841850:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Austria') 
   | (UK_all['Exporters']=='Czech Republic')
   | (UK_all['Exporters']=='Italy')
    )].transpose().reset_index()

In [7]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
UK_all.columns = UK_all.iloc[0]
UK_all=UK_all.reindex(UK_all.index.drop(0))
UK_all=UK_all.dropna()
UK_all.loc[:, 'Date'] = 0
UK_all=UK_all.drop_duplicates('World')

In [34]:
UK_all.columns = UK_all.iloc[0]

In [36]:
UK_all=UK_all.reindex(UK_all.index.drop(0))

In [38]:
UK_all=UK_all.dropna()

In [40]:
UK_all.loc[:, 'Date'] = 0

In [42]:
UK_all=UK_all.drop_duplicates('World') # bir tanesi burada.

In [43]:
UK_all.iloc[50:100,:]
#UK_

0                       Exporters  World Germany Netherlands Hungary  Date
54     Imported value in 2013-M09  10201    1470         210     812     0
55     Imported value in 2013-M10  12376    1858          90    1108     0
56     Imported value in 2013-M11  13303    1809         182     999     0
57     Imported value in 2013-M12  10053    1540         248     816     0
58     Imported value in 2014-M01   9424    1095         423     704     0
59     Imported value in 2014-M02   8875    1578         528     711     0
60     Imported value in 2014-M03  10845    2639         917     483     0
61     Imported value in 2014-M04  10923    2495         753     631     0
65     Imported value in 2011-M04   9802    1626         175     301     0
66     Imported value in 2011-M05   8945    1884         131     391     0
67     Imported value in 2011-M06   9500    1687         170     272     0
68     Imported value in 2011-M07   8431    1664         288     266     0
69     Imported value in 2011-M08   8051    1745         132     609     0
70     Imported value in 2011-M09   6956    1730         155     300     0
71     Imported value in 2011-M10   9385    1595          96     389     0
72     Imported value in 2011-M11  10744    2170         316     496     0
73     Imported value in 2011-M12   9994    1452         119     584     0
74     Imported value in 2012-M01   8747     829         243       5     0
75     Imported value in 2012-M02   7477    1142         388     679     0
76     Imported value in 2012-M03   8374    1773         503     273     0
77     Imported value in 2012-M04   8088    2069         117     219     0
79     Imported value in 2012-M06   8921    1183         162     508     0
80     Imported value in 2012-M07   9434    1716         191     445     0
81     Imported value in 2012-M08   7754    1201         152     452     0
82     Imported value in 2012-M09   9974    1152         376     648     0
85   Imported value in 2009-M08_x  10458     997          89    1067     0
86     Imported value in 2009-M09   9011    1583         128     810     0
87     Imported value in 2009-M10  12225    1861           0     789     0
88     Imported value in 2009-M11  10279    1794         114    1003     0
89     Imported value in 2009-M12  10490    2104         244     638     0
90     Imported value in 2010-M01   8873     887         131     768     0
91     Imported value in 2010-M02   8938     973         174     301     0
92     Imported value in 2010-M03   7028    1254         223     458     0
93     Imported value in 2010-M04   6656    1207         142     314     0
94     Imported value in 2010-M05   6976     921          58     310     0
95     Imported value in 2010-M06   7638    1098          88     237     0
96     Imported value in 2010-M07   8966    1373         154     322     0
97     Imported value in 2010-M08   8836    1124          94     292     0
98     Imported value in 2010-M09   7083     520         193     343     0
99     Imported value in 2010-M10  10808    1828          59     431     0
100    Imported value in 2010-M11  11382    1752         127     361     0
101    Imported value in 2010-M12  10455    1177         240     442     0
102    Imported value in 2011-M01   7580    1322         121     337     0
103    Imported value in 2011-M02   8271    1357         173     313     0
106  Imported value in 2008-M01_x   9489    1270         121     567     0
107    Imported value in 2008-M02   9169    1581         211     427     0
108    Imported value in 2008-M03   8521    1279         196     599     0
109    Imported value in 2008-M04   9585    1962         184     340     0
110    Imported value in 2008-M05  11793    1571         221     859     0
111    Imported value in 2008-M06  12385    2300         196     801     0

In [9]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [10]:
for num in range(0,UK_all.shape[0]):
    UK_all.iloc[num,5]=finddate(UK_all.iloc[num,0])

In [11]:
UK_all.drop('Exporters',axis=1,inplace=True)
UK_all=UK_all.sort_values(by='Date', ascending=1)

In [12]:
if Product==841810 :
    UK_all=UK_all.rename(columns = {'Poland':'POL_GBR_841810'})
    UK_all['POL_GBR_841810-1'] = UK_all['POL_GBR_841810'].shift(1)
    UK_all['POL_GBR_841810-2'] = UK_all['POL_GBR_841810'].shift(2)
    UK_all['POL_GBR_841810-3'] = UK_all['POL_GBR_841810'].shift(3)
    UK_all['POL_GBR_841810-6'] = UK_all['POL_GBR_841810'].shift(6)
    UK_all['POL_GBR_841810-12'] = UK_all['POL_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Korea, Republic of':'KOR_GBR_841810'})
    UK_all['KOR_GBR_841810-1'] = UK_all['KOR_GBR_841810'].shift(1)
    UK_all['KOR_GBR_841810-2'] = UK_all['KOR_GBR_841810'].shift(2)
    UK_all['KOR_GBR_841810-3'] = UK_all['KOR_GBR_841810'].shift(3)
    UK_all['KOR_GBR_841810-6'] = UK_all['KOR_GBR_841810'].shift(6)
    UK_all['KOR_GBR_841810-12'] = UK_all['KOR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841810'})
    UK_all['ITA_GBR_841810-1'] = UK_all['ITA_GBR_841810'].shift(1)
    UK_all['ITA_GBR_841810-2'] = UK_all['ITA_GBR_841810'].shift(2)
    UK_all['ITA_GBR_841810-3'] = UK_all['ITA_GBR_841810'].shift(3)
    UK_all['ITA_GBR_841810-6'] = UK_all['ITA_GBR_841810'].shift(6)
    UK_all['ITA_GBR_841810-12'] = UK_all['ITA_GBR_841810'].shift(12)

elif Product==841840:

    UK_all=UK_all.rename(columns = {'Germany':'DEU_GBR_841840'})
    UK_all['DEU_GBR_841840-1'] = UK_all['DEU_GBR_841840'].shift(1)
    UK_all['DEU_GBR_841840-2'] = UK_all['DEU_GBR_841840'].shift(2)
    UK_all['DEU_GBR_841840-3'] = UK_all['DEU_GBR_841840'].shift(3)
    UK_all['DEU_GBR_841840-6'] = UK_all['DEU_GBR_841840'].shift(6)
    UK_all['DEU_GBR_841840-12'] = UK_all['DEU_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Netherlands':'NLD_GBR_841840'})
    UK_all['NLD_GBR_841840-1'] = UK_all['NLD_GBR_841840'].shift(1)
    UK_all['NLD_GBR_841840-2'] = UK_all['NLD_GBR_841840'].shift(2)
    UK_all['NLD_GBR_841840-3'] = UK_all['NLD_GBR_841840'].shift(3)
    UK_all['NLD_GBR_841840-6'] = UK_all['NLD_GBR_841840'].shift(6)
    UK_all['NLD_GBR_841840-12'] = UK_all['NLD_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Hungary':'HUN_GBR_841840'})
    UK_all['HUN_GBR_841840-1'] = UK_all['HUN_GBR_841840'].shift(1)
    UK_all['HUN_GBR_841840-2'] = UK_all['HUN_GBR_841840'].shift(2)
    UK_all['HUN_GBR_841840-3'] = UK_all['HUN_GBR_841840'].shift(3)
    UK_all['HUN_GBR_841840-6'] = UK_all['HUN_GBR_841840'].shift(6)
    UK_all['HUN_GBR_841840-12'] = UK_all['HUN_GBR_841840'].shift(12)
    
elif Product==841850:
    UK_all=UK_all.rename(columns = {'Austria':'AUT_GBR_841850'})
    UK_all['AUT_GBR_841850-1'] = UK_all['AUT_GBR_841850'].shift(1)
    UK_all['AUT_GBR_841850-2'] = UK_all['AUT_GBR_841850'].shift(2)
    UK_all['AUT_GBR_841850-3'] = UK_all['AUT_GBR_841850'].shift(3)
    UK_all['AUT_GBR_841850-6'] = UK_all['AUT_GBR_841850'].shift(6)
    UK_all['AUT_GBR_841850-12'] = UK_all['AUT_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Czech Republic':'CHZ_GBR_841850'})
    UK_all['CHZ_GBR_841850-1'] = UK_all['CHZ_GBR_841850'].shift(1)
    UK_all['CHZ_GBR_841850-2'] = UK_all['CHZ_GBR_841850'].shift(2)
    UK_all['CHZ_GBR_841850-3'] = UK_all['CHZ_GBR_841850'].shift(3)
    UK_all['CHZ_GBR_841850-6'] = UK_all['CHZ_GBR_841850'].shift(6)
    UK_all['CHZ_GBR_841850-12'] = UK_all['CHZ_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841850'})
    UK_all['ITA_GBR_841850-1'] = UK_all['ITA_GBR_841850'].shift(1)
    UK_all['ITA_GBR_841850-2'] = UK_all['ITA_GBR_841850'].shift(2)
    UK_all['ITA_GBR_841850-3'] = UK_all['ITA_GBR_841850'].shift(3)
    UK_all['ITA_GBR_841850-6'] = UK_all['ITA_GBR_841850'].shift(6)
    UK_all['ITA_GBR_841850-12'] = UK_all['ITA_GBR_841850'].shift(12)

In [13]:
#UK_all=UK_all.dropna()
UK_all.to_excel('{}_UK_all-2.xlsx'.format(Product),index = False)